# 0 Basic Setting

# 0.1 Import

In [1]:
import csv
from pandas import ExcelWriter
import datetime, warnings  
import matplotlib as mpl
import numpy as np
import pandas as pd

from seaborn import distplot
import sklearn as skl


from sklearn import metrics, linear_model
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict

import statsmodels.api as sm
from statsmodels.formula.api import ols

from scipy.stats import skew, kurtosis
from scipy import stats

import statistics
import statsmodels

from matplotlib import pyplot as plt
from matplotlib.gridspec import GridSpec
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# 0.2 Read csv files

In [68]:
add_weather = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/JFK_additional_weather.txt') #18334 * 13

In [2]:
city = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/city_attributes.csv')
humidity = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/humidity.csv')
pressure = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/pressure.csv')
temp = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/temperature.csv')
weath_desc = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/weather_description.csv')
windir= pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/wind_direction.csv')
windspd=pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/wind_speed.csv')
add_weather = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/historical-hourly-weather-data/JFK_additional_weather.txt') #18334 * 13


df = pd.read_csv('C:/Users/Playdata/py_projects/Mentoring/input/flights.csv', low_memory=False)

In [3]:
file_list = [city, humidity, pressure, temp, weath_desc, windir, windspd]

for file in file_list:

    tab_info = pd.DataFrame(file.dtypes).T.rename(index={0:'column type'})
    tab_info = tab_info.append(pd.DataFrame(file.isnull().sum()).T.rename(index={0:'null values(nb)'}))
    tab_info=tab_info.append(pd.DataFrame(file.isnull().sum()/file.shape[0]*100).T.rename(index={0:'null values(%)'}))
    tab_info

                   City Country Latitude Longitude
column type      object  object  float64   float64
null values(nb)       0       0        0         0
null values(%)        0       0        0         0

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
column type,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
null values(nb),0,1826,449,942,289,152,344,842,1308,710,...,624,1624,1696,449,859,1113,970,818,817,906
null values(%),0,4.03509,0.992199,2.08163,0.638632,0.335889,0.760171,1.86065,2.89042,1.56896,...,1.37891,3.58871,3.74782,0.992199,1.89822,2.45951,2.1435,1.80761,1.80541,2.00208

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
column type,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
null values(nb),0,4234,4,815,13,252,175,88,594,456,...,4,1041,994,7,806,930,792,798,795,799
null values(%),0,9.35629,0.00883919,1.80099,0.0287274,0.556869,0.386715,0.194462,1.31262,1.00767,...,0.00883919,2.3004,2.19654,0.0154686,1.7811,2.05511,1.75016,1.76342,1.75679,1.76563

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
column type,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
null values(nb),0,795,1,793,3,3,1,1,3,1,...,3,793,3,3,798,793,792,798,797,793
null values(%),0,1.75679,0.0022098,1.75237,0.00662939,0.00662939,0.0022098,0.0022098,0.00662939,0.0022098,...,0.00662939,1.75237,0.00662939,0.00662939,1.76342,1.75237,1.75016,1.76342,1.76121,1.75237

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
column type,object,object,object,object,object,object,object,object,object,object,...,object,object,object,object,object,object,object,object,object,object
null values(nb),0,793,1,793,1,1,1,1,1,1,...,1,793,1,1,793,793,792,793,793,793
null values(%),0,1.75237,0.0022098,1.75237,0.0022098,0.0022098,0.0022098,0.0022098,0.0022098,0.0022098,...,0.0022098,1.75237,0.0022098,0.0022098,1.75237,1.75237,1.75016,1.75237,1.75237,1.75237

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
column type,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
null values(nb),0,795,1,794,1,1,1,5,1,1,...,1,793,1,1,793,793,797,793,793,793
null values(%),0,1.75679,0.0022098,1.75458,0.0022098,0.0022098,0.0022098,0.011049,0.0022098,0.0022098,...,0.0022098,1.75237,0.0022098,0.0022098,1.75237,1.75237,1.76121,1.75237,1.75237,1.75237

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
column type,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
null values(nb),0,795,1,794,1,1,1,15,2,4,...,2,793,1,1,793,794,792,795,794,794
null values(%),0,1.75679,0.0022098,1.75458,0.0022098,0.0022098,0.0022098,0.033147,0.0044196,0.00883919,...,0.0044196,1.75237,0.0022098,0.0022098,1.75237,1.75458,1.75016,1.75679,1.75458,1.75458

# 1. Weather Data Integration(humidity, pressure, temperature, weather description, wind direction, wind speed)

## 1.1 Set Location As New york

In [4]:
city_ny = city[city['City']=='New York']
humidity_ny = humidity[['datetime','New York']]
pressure_ny = pressure[['datetime','New York']]
temp_ny = temp[['datetime','New York']]
weath_desc_ny = weath_desc[['datetime','New York']]
windir_ny = windir[['datetime','New York']]
windspd_ny = windspd[['datetime','New York']]

## 1.2 Set Year As 2015

In [5]:
def setyear(dataset):
    dataset = dataset[dataset['datetime'] >= '2014-12-31 22:00:00']
    dataset = dataset[dataset['datetime'] < '2016-01-01 02:00:00']
    #dataset = dataset
    return dataset

In [6]:
datecolumn = humidity_ny[humidity_ny['datetime'] >= '2014-12-31 22:00:00']
datecolumn = datecolumn[humidity_ny['datetime'] < '2016-01-01 02:00:00']
datecolumn.drop('New York', axis = 1, inplace = True)
datecolumn.shape
datecolumn[:5]
datecolumn.tail()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

(8764, 1)

                  datetime
19714  2014-12-31 22:00:00
19715  2014-12-31 23:00:00
19716  2015-01-01 00:00:00
19717  2015-01-01 01:00:00
19718  2015-01-01 02:00:00

                  datetime
28473  2015-12-31 21:00:00
28474  2015-12-31 22:00:00
28475  2015-12-31 23:00:00
28476  2016-01-01 00:00:00
28477  2016-01-01 01:00:00

## Changing Column name

In [7]:
# changing data columns' name to each features, not location name
humidity_ny_date = setyear(humidity_ny)
humidity_ny_date_ren = humidity_ny_date.rename(columns = {'New York' : 'humidity'})

pressure_ny_date = setyear(pressure_ny)
pressure_ny_date_ren = pressure_ny_date.rename(columns = {'New York' : 'pressure'})

temp_ny_date = setyear(temp_ny)
temp_ny_date_ren = temp_ny_date.rename(columns = {'New York' : 'temperature'})

weath_desc_ny_date = setyear(weath_desc_ny)
weath_desc_ny_date_ren = weath_desc_ny_date.rename(columns = {'New York' : 'weather description'})

windir_ny_date = setyear(windir_ny)
windir_ny_date_ren = windir_ny_date.rename(columns = {'New York' : 'wind direction'})

windspd_ny_date = setyear(windspd_ny)
windspd_ny_date_ren = windspd_ny_date.rename(columns ={'New York' : 'wind speed'})

In [8]:
weather = pd.DataFrame(columns = ['datetime', 'humidity', 'pressure', 'temperature', 'weather description', 'wind direction', 'wind speed'])
# , pressure_ny_date_ren, temp_ny_date_ren, weath_desc_ny_date_ren, windir_ny_date_ren, windspd_ny_date_ren)

In [9]:
file_list_date = [city, humidity_ny_date, pressure_ny_date, temp_ny_date, weath_desc_ny_date, windir_ny_date, windspd_ny_date]
file_list_date_ren = [datecolumn['datetime'], humidity_ny_date_ren['humidity'], pressure_ny_date_ren['pressure'], temp_ny_date_ren['temperature'], weath_desc_ny_date_ren['weather description'], windir_ny_date_ren['wind direction'], windspd_ny_date_ren['wind speed']]
# for file in file_list_date_ren:
#     pd.concat()
# weather
weather = pd.concat(file_list_date_ren, axis = 1)
# # series로 변형
weather.to_csv('weather_transed.csv', sep='\t')

#파일 읽으려면 밑의 명령어와 같이 읽으면 됨.
# pd.read_csv('weather_transed.csv',sep='\t')

In [44]:
weather[:5]

,datetime,humidity,pressure,temperature,weather description,wind direction,wind speed,humidity_norm,pressure_norm,temperature_norm,wind direction_norm,wind speed_norm,count,humidity_std,pressure_std,temperature_std,wind direction_std,wind speed_std
19714,2014-12-31 22:00:00,59.0,1022.0,268.050000,sky is clear,249.0,2.0,-0.14472,0.023959,-0.299192,0.126435,-0.055867,1,-0.631944,0.215832,-1.496157,0.457788,-0.451543
19715,2014-12-31 23:00:00,69.0,1026.0,268.633089,sky is clear,250.0,3.0,-0.01972,0.071578,-0.288862,0.129213,0.021056,1,-0.086110,0.644805,-1.444501,0.467845,0.170189
19716,2015-01-01 00:00:00,59.0,1022.0,268.050000,sky is clear,249.0,2.0,-0.14472,0.023959,-0.299192,0.126435,-0.055867,1,-0.631944,0.215832,-1.496157,0.457788,-0.451543
19717,2015-01-01 01:00:00,59.0,1022.0,268.050000,sky is clear,249.0,2.0,-0.14472,0.023959,-0.299192,0.126435,-0.055867,1,-0.631944,0.215832,-1.496157,0.457788,-0.451543
19718,2015-01-01 02:00:00,58.0,1021.0,267.186000,sky is clear,246.0,2.0,-0.15722,0.012054,-0.314499,0.118102,-0.055867,1,-0.686527,0.108589,-1.572701,0.427615,-0.451543

# Flight Data

In [45]:
df.shape

(5819079, 32)

In [90]:
df['DATE'] = pd.to_datetime(df[['YEAR','MONTH','DAY']])
df_2015= df[df['ORIGIN_AIRPORT'] == "JFK"]
# df_2015_arr = df[df['DESTINATION_AIRPORT'] =="JFK"]
# df_2015 = df_2015_dep.append(df_2015_arr, ignore_index = True )

In [91]:
df_2015.shape #(187620, 32)

(93811, 32)

In [93]:
df_2015

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
97,2015,1,1,4,B6,2023,N324JB,JFK,SJU,535,...,19.0,0,0,NaN,0.0,0.0,19.0,0.0,0.0,2015-01-01
120,2015,1,1,4,AA,2299,N3LLAA,JFK,MIA,545,...,69.0,0,0,NaN,14.0,0.0,55.0,0.0,0.0,2015-01-01
123,2015,1,1,4,B6,939,N794JB,JFK,BQN,545,...,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
238,2015,1,1,4,B6,353,N570JB,JFK,PBI,600,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
243,2015,1,1,4,B6,583,N531JB,JFK,MCO,600,...,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
245,2015,1,1,4,B6,525,N645JB,JFK,TPA,600,...,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
253,2015,1,1,4,DL,421,N967DL,JFK,ATL,600,...,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
377,2015,1,1,4,UA,415,N509UA,JFK,SFO,605,...,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
394,2015,1,1,4,B6,601,N559JB,JFK,FLL,605,...,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
460,2015,1,1,4,B6,1403,N763JB,JFK,SJU,614,...,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
594,2015,1,1,4,US,433,N601AW,JFK,PHX,630,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
603,2015,1,1,4,B6,23,N937JB,JFK,LAX,630,...,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
605,2015,1,1,4,B6,929,N526JB,JFK,RSW,630,...,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
636,2015,1,1,4,B6,675,N294JB,JFK,MSY,633,...,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
652,2015,1,1,4,AA,1441,N3GYAA,JFK,LAS,635,...,45.0,0,0,NaN,24.0,0.0,21.0,0.0,0.0,2015-01-01
722,2015,1,1,4,B6,318,N183JB,JFK,BOS,645,...,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
789,2015,1,1,4,AA,1101,N5ENAA,JFK,MIA,652,...,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
813,2015,1,1,4,B6,2702,N571JB,JFK,BUF,655,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
826,2015,1,1,4,B6,15,N944JB,JFK,SFO,659,...,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
827,2015,1,1,4,B6,453,N652JB,JFK,PBI,659,...,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
846,2015,1,1,4,VX,399,N852VA,JFK,LAX,700,...,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
867,2015,1,1,4,AA,9,N792AA,JFK,LAX,700,...,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
916,2015,1,1,4,DL,424,N194DN,JFK,LAX,700,...,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
932,2015,1,1,4,DL,2365,N399DA,JFK,SJU,700,...,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
935,2015,1,1,4,DL,46,N704X,JFK,SFO,700,...,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
941,2015,1,1,4,AA,2393,N3APAA,JFK,MCO,700,...,117.0,0,0,NaN,0.0,0.0,117.0,0.0,0.0,2015-01-01
1072,2015,1,1,4,B6,3,N913JB,JFK,SJU,714,...,-34.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1133,2015,1,1,4,B6,901,N905JB,JFK,FLL,718,...,-27.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1240,2015,1,1,4,B6,683,N585JB,JFK,MCO,729,...,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1256,2015,1,1,4,AA,84,N3AXAA,JFK,BOS,730,...,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818070,2015,12,31,4,B6,611,N948JB,JFK,LAS,1950,...,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818111,2015,12,31,4,B6,883,N779JB,JFK,MCO,1955,...,17.0,0,0,NaN,0.0,0.0,17.0,0.0,0.0,2015-12-31
5818139,2015,12,31,4,B6,1415,N935JB,JFK,SFO,1959,...,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818171,2015,12,31,4,B6,1201,N956JB,JFK,FLL,2000,...,91.0,0,0,NaN,63.0,0.0,0.0,28.0,0.0,2015-12-31
5818172,2015,12,31,4,B6,65,N655JB,JFK,ABQ,2000,...,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818403,2015,12,31,4,B6,1677,N547JB,JFK,JAX,2030,...,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818407,2015,12,31,4,B6,97,N607JB,JFK,DEN,2031,...,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818431,2015,12,31,4,AA,235,N3DSAA,JFK,BOS,2035,...,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818467,2015,12,31,4,B6,1205,N615JB,JFK,PDX,2041,...,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818487,2015,12,31,4,B6,753,N612JB,JFK,PBI,2046,...,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818540,2015,12,31,4,B6,161,N597JB,JFK,SMF,2055,...,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818568,2015,12,31,4,B6,418,N323JB,JFK,BOS,2100,...,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818624,2015,12,31,4,B6,1295,N329JB,JFK,AUS,2115,...,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818627,2015,12,31,4,B6,1123,N944JB,JFK,LAX,2115,...,19.0,0,0,NaN,1.0,0.0,18.0,0.0,0.0,2015-12-31
5818633,2015,12,31,4,B6,1103,N715JB,JFK,SJU,2116,...,53.0,0,0,NaN,0.0,0.0,53.0,0.0,0.0,2015-12-31
5818634,2015,12,31,4,B6,201,N775JB,JFK,FLL,2116,...,34.0,0,0,NaN,0.0,0.0,34.0,0.0,0.0,2015-12-31
5818678,2015,12,31,4,B6,1715,N945JB,JFK,SFO,2130,...,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818733,2015,12,31,4,B6,225,N571JB,JFK,TPA,2146,...,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818810,2015,12,31,4,B6,153,N266JB,JFK,PBI,2200,...,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818859,2015,12,31,4,B6,1901,N523JB,JFK,FLL,2215,...,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818902,2015,12,31,4,B6,1323,N946JB,JFK,LAX,2235,...,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818930,2015,12,31,4,B6,234,N190JB,JFK,BTV,2245,...,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818931,2015,12,31,4,B6,486,N228JB,JFK,ROC,2245,...,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818932,2015,12,31,4,B6,108,N239JB,JFK,PWM,2245,...,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818938,2015,12,31,4,B6,1816,N283JB,JFK,SYR,2250,...,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818939,2015,12,31,4,B6,2002,N307JB,JFK,BUF,2250,...,13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5818980,2015,12,31,4,B6,718,N304JB,JFK,BOS,2312,...,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31

## Setting Flight Data Departing From JFK

In [14]:
#SCHEDULED_DEPARTURE = HHMM 의 int 형식으로 되어있음
# 시간으로 변환
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400 : chaine = 0 
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
    
def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
    
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [92]:
df_2015['SCHEDULED_DEPARTURE'] = create_flight_time(df_2015, 'SCHEDULED_DEPARTURE')
df_2015['DEPARTURE_TIME'] =df_2015['DEPARTURE_TIME'].apply(format_heure)
df_2015['SCHEDULED_ARRIVAL'] =df_2015['SCHEDULED_ARRIVAL'].apply(format_heure)
df_2015['ARRIVAL_TIME'] = df_2015['ARRIVAL_TIME'].apply(format_heure)

df_2015.loc[:5, ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL', 'DEPARTURE_TIME', 'ARRIVAL_TIME', 'DEPARTURE_DELAY', 'ARRIVAL_DELAY']]

AttributeError: 'list' object has no attribute 'time'

In [94]:
variables_to_remove = ['TAXI_OUT', 'TAXI_IN', 'WHEELS_ON', 'WHEELS_OFF','YEAR', 'MONTH','DAY','DAY_OF_WEEK','DATE', 'AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY', 'DIVERTED', 'CANCELLED','CANCELLATION_REASON','FLIGHT_NUMBER', 'TAIL_NUMBER', 'AIR_TIME']
df_2015.drop(variables_to_remove, axis = 1, inplace = True)
df_2015 = df_2015[['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
        'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
        'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
        'SCHEDULED_TIME', 'ELAPSED_TIME']]

df_2015[:5]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,SCHEDULED_TIME,ELAPSED_TIME
97,B6,JFK,SJU,535,618.0,43.0,1020,1039.0,19.0,225.0,201.0
120,AA,JFK,MIA,545,640.0,55.0,850,959.0,69.0,185.0,199.0
123,B6,JFK,BQN,545,545.0,0.0,1026,1007.0,-19.0,221.0,202.0
238,B6,JFK,PBI,600,554.0,-6.0,858,836.0,-22.0,178.0,162.0
243,B6,JFK,MCO,600,557.0,-3.0,851,832.0,-19.0,171.0,155.0

In [95]:
df_2015.shape

(93811, 11)

## Save as Csv

In [17]:
df_2015.to_csv('df_2015.csv', sep='\t')
# pd.read_csv('df_2015.csv', sep = "\t")

In [96]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93811 entries, 97 to 5819078
Data columns (total 11 columns):
AIRLINE                93811 non-null object
ORIGIN_AIRPORT         93811 non-null object
DESTINATION_AIRPORT    93811 non-null object
SCHEDULED_DEPARTURE    93811 non-null int64
DEPARTURE_TIME         91933 non-null float64
DEPARTURE_DELAY        91933 non-null float64
SCHEDULED_ARRIVAL      93811 non-null int64
ARRIVAL_TIME           91880 non-null float64
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         93811 non-null float64
ELAPSED_TIME           91663 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 8.6+ MB

## Handle Null

In [97]:
file_fin = [weather, df_2015]
for file in file_fin:
    tab_info = pd.DataFrame(file.dtypes).T.rename(index={0:'column type'})
    tab_info = tab_info.append(pd.DataFrame(file.isnull().sum()).T.rename(index={0:'null values(nb)'}))
    tab_info=tab_info.append(pd.DataFrame(file.isnull().sum()/df.shape[0]*100).T.rename(index={0:'null values(%)'}))
    tab_info

df_2015_wonull = pd.DataFrame.dropna(df_2015, how ='any')
df_2015_wonull.info()

,datetime,humidity,pressure,temperature,weather description,wind direction,wind speed,humidity_norm,pressure_norm,temperature_norm,wind direction_norm,wind speed_norm,count,humidity_std,pressure_std,temperature_std,wind direction_std,wind speed_std
column type,datetime64[ns],float64,float64,float64,object,float64,float64,float64,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64
null values(nb),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
null values(%),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,SCHEDULED_TIME,ELAPSED_TIME
column type,object,object,object,int64,float64,float64,int64,float64,float64,float64,float64
null values(nb),0,0,0,0,1878,1878,0,1931,2148,0,2148
null values(%),0,0,0,0,0.0322731,0.0322731,0,0.0331839,0.0369131,0,0.0369131

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91663 entries, 97 to 5819078
Data columns (total 11 columns):
AIRLINE                91663 non-null object
ORIGIN_AIRPORT         91663 non-null object
DESTINATION_AIRPORT    91663 non-null object
SCHEDULED_DEPARTURE    91663 non-null int64
DEPARTURE_TIME         91663 non-null float64
DEPARTURE_DELAY        91663 non-null float64
SCHEDULED_ARRIVAL      91663 non-null int64
ARRIVAL_TIME           91663 non-null float64
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         91663 non-null float64
ELAPSED_TIME           91663 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 8.4+ MB

In [98]:
file_fin = [weather, df_2015_wonull]
for file in file_fin:
    print(file.shape)
    tab_info = pd.DataFrame(file.dtypes).T.rename(index={0:'column type'})
    tab_info = tab_info.append(pd.DataFrame(file.isnull().sum()).T.rename(index={0:'null values(nb)'}))
    tab_info=tab_info.append(pd.DataFrame(file.isnull().sum()/df.shape[0]*100).T.rename(index={0:'null values(%)'}))

    tab_info

(8764, 18)

,datetime,humidity,pressure,temperature,weather description,wind direction,wind speed,humidity_norm,pressure_norm,temperature_norm,wind direction_norm,wind speed_norm,count,humidity_std,pressure_std,temperature_std,wind direction_std,wind speed_std
column type,datetime64[ns],float64,float64,float64,object,float64,float64,float64,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64
null values(nb),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
null values(%),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

(91663, 11)

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,SCHEDULED_TIME,ELAPSED_TIME
column type,object,object,object,int64,float64,float64,int64,float64,float64,float64,float64
null values(nb),0,0,0,0,0,0,0,0,0,0,0
null values(%),0,0,0,0,0,0,0,0,0,0,0

In [21]:
weather.info()

df_2015_wonull.info()

def whether_delayed(time):
    if time >= 120:
        return 'y'
    else:
        return 'n'

df_2015_wonull['DEPARTURE DELAYED?'] = df_2015_wonull['DEPARTURE_DELAY'].apply(whether_delayed)

# df_2015_wonull
# df_2015_wonull.info()
df_fin = df_2015_wonull

df_fin[df_fin['DEPARTURE DELAYED?'] == 'y']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8764 entries, 19714 to 28477
Data columns (total 7 columns):
datetime               8764 non-null object
humidity               8764 non-null float64
pressure               8764 non-null float64
temperature            8764 non-null float64
weather description    8764 non-null object
wind direction         8764 non-null float64
wind speed             8764 non-null float64
dtypes: float64(5), object(2)
memory usage: 547.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 91663 entries, 0 to 93810
Data columns (total 11 columns):
AIRLINE                91663 non-null object
ORIGIN_AIRPORT         91663 non-null object
DESTINATION_AIRPORT    91663 non-null object
SCHEDULED_DEPARTURE    91663 non-null datetime64[ns]
DEPARTURE_TIME         91663 non-null object
DEPARTURE_DELAY        91663 non-null float64
SCHEDULED_ARRIVAL      91663 non-null object
ARRIVAL_TIME           91663 non-null object
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         91663 non-null float64
ELAPSED_TIME           91663 non-null float64
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 8.4+ MB

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,SCHEDULED_TIME,ELAPSED_TIME,DEPARTURE DELAYED?
677,DL,JFK,PHX,2015-01-03 10:30:00,12:43:00,133.0,14:10:00,16:00:00,110.0,340.0,317.0,y
732,MQ,JFK,CVG,2015-01-03 15:10:00,17:51:00,161.0,17:28:00,20:37:00,189.0,138.0,166.0,y
769,AA,JFK,AUS,2015-01-03 17:00:00,07:51:00,891.0,20:20:00,11:03:00,883.0,260.0,252.0,y
771,DL,JFK,LAX,2015-01-03 17:00:00,19:37:00,157.0,20:30:00,23:23:00,173.0,390.0,406.0,y
779,AA,JFK,LAS,2015-01-03 17:29:00,08:15:00,886.0,20:24:00,11:32:00,908.0,355.0,377.0,y
798,DL,JFK,TPA,2015-01-03 18:40:00,21:06:00,146.0,21:56:00,00:15:00,139.0,196.0,189.0,y
801,DL,JFK,MIA,2015-01-03 18:50:00,22:23:00,213.0,22:15:00,01:23:00,188.0,205.0,180.0,y
814,DL,JFK,FLL,2015-01-03 19:34:00,21:34:00,120.0,23:00:00,00:21:00,81.0,206.0,167.0,y
822,B6,JFK,SJU,2015-01-03 20:00:00,22:30:00,150.0,00:55:00,02:54:00,119.0,235.0,204.0,y
826,AA,JFK,BOS,2015-01-03 20:20:00,22:30:00,130.0,21:30:00,23:38:00,128.0,70.0,68.0,y
828,DL,JFK,DEN,2015-01-03 20:29:00,00:28:00,239.0,23:14:00,02:46:00,212.0,285.0,258.0,y
829,DL,JFK,SLC,2015-01-03 20:29:00,22:57:00,148.0,23:56:00,02:13:00,137.0,327.0,316.0,y
830,DL,JFK,BOS,2015-01-03 20:29:00,00:26:00,237.0,21:45:00,01:31:00,226.0,76.0,65.0,y
836,B6,JFK,MSY,2015-01-03 20:55:00,23:15:00,140.0,23:23:00,01:46:00,143.0,208.0,211.0,y
839,B6,JFK,PDX,2015-01-03 20:59:00,23:10:00,131.0,00:16:00,02:38:00,142.0,377.0,388.0,y
851,B6,JFK,PBI,2015-01-03 21:58:00,00:24:00,146.0,00:50:00,03:19:00,149.0,172.0,175.0,y
856,B6,JFK,SYR,2015-01-03 22:45:00,00:51:00,126.0,23:53:00,01:55:00,122.0,68.0,64.0,y
860,B6,JFK,BQN,2015-01-03 23:59:00,02:00:00,121.0,04:40:00,06:26:00,106.0,221.0,206.0,y
898,B6,JFK,IAD,2015-01-04 07:40:00,10:29:00,169.0,08:58:00,11:55:00,177.0,78.0,86.0,y
924,AA,JFK,MIA,2015-01-04 08:30:00,13:37:00,307.0,11:54:00,16:45:00,291.0,204.0,188.0,y
1020,MQ,JFK,RDU,2015-01-04 14:59:00,19:50:00,291.0,16:47:00,22:23:00,336.0,108.0,153.0,y
1023,MQ,JFK,CVG,2015-01-04 15:10:00,18:16:00,186.0,17:28:00,20:51:00,203.0,138.0,155.0,y
1030,MQ,JFK,CMH,2015-01-04 15:30:00,18:52:00,202.0,17:28:00,20:38:00,190.0,118.0,106.0,y
1031,MQ,JFK,IND,2015-01-04 15:30:00,17:34:00,124.0,18:03:00,20:20:00,137.0,153.0,166.0,y
1032,MQ,JFK,ORF,2015-01-04 15:30:00,18:14:00,164.0,16:58:00,19:58:00,180.0,88.0,104.0,y
1036,B6,JFK,RSW,2015-01-04 15:45:00,17:46:00,121.0,19:09:00,21:02:00,113.0,204.0,196.0,y
1046,AA,JFK,DFW,2015-01-04 16:15:00,19:10:00,175.0,19:30:00,23:11:00,221.0,255.0,301.0,y
1050,US,JFK,PHX,2015-01-04 16:20:00,20:13:00,233.0,20:00:00,00:26:00,266.0,340.0,373.0,y
1051,B6,JFK,BUF,2015-01-04 16:29:00,18:42:00,133.0,17:58:00,20:05:00,127.0,89.0,83.0,y
1056,B6,JFK,BOS,2015-01-04 16:32:00,18:51:00,139.0,17:46:00,20:16:00,150.0,74.0,85.0,y
...,...,...,...,...,...,...,...,...,...,...,...,...
93158,AA,JFK,BOS,2015-12-29 15:45:00,18:50:00,185.0,17:03:00,20:30:00,207.0,78.0,100.0,y
93159,B6,JFK,RSW,2015-12-29 15:45:00,18:35:00,170.0,19:09:00,21:37:00,148.0,204.0,182.0,y
93183,AA,JFK,AUS,2015-12-29 17:00:00,19:42:00,162.0,20:22:00,22:50:00,148.0,262.0,248.0,y
93184,AA,JFK,MIA,2015-12-29 17:00:00,19:47:00,167.0,20:24:00,22:55:00,151.0,204.0,188.0,y
93187,B6,JFK,SYR,2015-12-29 17:00:00,01:01:00,481.0,18:15:00,01:59:00,464.0,75.0,58.0,y
93188,B6,JFK,IAD,2015-12-29 17:00:00,19:04:00,124.0,18:19:00,20:17:00,118.0,79.0,73.0,y
93192,B6,JFK,CLT,2015-12-29 17:16:00,19:30:00,134.0,19:20:00,21:23:00,123.0,124.0,113.0,y
93199,B6,JFK,RSW,2015-12-29 18:00:00,20:19:00,139.0,21:12:00,23:33:00,141.0,192.0,194.0,y
93244,B6,JFK,TPA,2015-12-29 20:46:00,00:52:00,246.0,23:51:00,03:30:00,219.0,185.0,158.0,y
93250,DL,JFK,BOS,2015-12-29 21:15:00,00:34:00,199.0,22:30:00,01:36:00,186.0,75.0,62.0,y
93251,B6,JFK,AUS,2015-12-29 21:15:00,00:53:00,218.0,00:37:00,04:09:00,212.0,262.0,256.0,y
93257,B6,JFK,IAD,2015-12-29 21:40:00,00:55:00,195.0,22:55:00,02:02:00,187.0,75.0,67.0,y
93259,B6,JFK,PBI,2015-12-29 22:00:00,00:29:00,149.0,00:52:00,03:19:00,147.0,172.0,170.0,y
93262,B6,JFK,PWM,2015-12-29 22:45:00,02:12:00,207.0,23:53:00,03:12:00,199.0,68.0,60.0,y
93267,B6,JFK,BOS,2015-12-29 23:12:00,02:09:00,177.0,00:16:00,02:58:00,162.0,64.0,49.0,y
93268,B6,JFK,PSE,2015-12-29 23:59:00,02:15:00,136.0,04:46:00,06:49:00,123.0,227.0,214.0,y
93275,DL,JFK,ATL,2015-12-30 06:00:00,08:29:00,149.0,08:40:00,11:07:00,147.0,160.0,158.0,y
93305,AA,JFK,LAS,2015-12-30 07:30:00,09:51:00,141.0,10:29:00,12:55:00,146.0,359.0,364.0,y
93321,DL,JFK,RSW,2015-12-30 08:05:00,10:30:00,145.0,11:36:00,13:55:00,139.0,211.0,205.0,y
93390,B6,JFK,MCO,2015-12-30 12:23:00,14:31:00,128.0,15:19:00,17:47:00,148.0,176.0,196.0,y
93401,B6,JFK,BTV,2015-12-30 13:00:00,15:45:00,165.0,14:14:00,17:11:00,177.0,74.0,86.0,y
93408,B6,JFK,BOS,2015-12-30 13:59:00,19:56:00,357.0,15:05:00,21:10:00,365.0,66.0,74.0,y
93438,DL,JFK,PBI,2015-12-30 15:44:00,17:50:00,126.0,19:05:00,20:39:00,94.0,201.0,169.0,y
93469,AA,JFK,LAS,2015-12-30 17:00:00,19:36:00,156.0,19:57:00,22:30:00,153.0,357.0,354.0,y
93472,B6,JFK,SYR,2015-12-30 17:00:00,19:47:00,167.0,18:15:00,20:54:00,159.0,75.0,67.0,y
93489,AA,JFK,SEA,2015-12-30 18:25:00,21:23:00,178.0,21:50:00,00:14:00,144.0,385.0,351.0,y
93523,AA,JFK,SAN,2015-12-30 20:05:00,22:31:00,146.0,23:28:00,02:01:00,153.0,383.0,390.0,y
93526,B6,JFK,JAX,2015-12-30 20:32:00,23:31:00,179.0,23:12:00,02:00:00,168.0,160.0,149.0,y
93608,AA,JFK,CLT,2015-12-31 08:10:00,16:30:00,500.0,10:26:00,18:53:00,507.0,136.0,143.0,y
93746,AA,JFK,SAN,2015-12-31 17:30:00,20:08:00,158.0,20:53:00,23:32:00,159.0,383.0,384.0,y

In [22]:

## Normalisation

def normalize(dataset):
    dataSTNorm=((dataset-dataset.mean())/(dataset.max()-dataset.min()))*20
    dataNorm["diagnosis"]=dataset["diagnosis"]
    return dataNorm

weather_list_float = ['humidity', 'pressure', 'temperature', 'wind direction', 'wind speed']
humidity_std = statistics.stdev(weather['humidity'])
pressure_std = statistics.stdev(weather['pressure'])
temperature_std = statistics.stdev(weather['temperature'])
wind_direction_std = statistics.stdev(weather['wind direction'])
wind_speed_std = statistics.stdev(weather['wind speed'])

for i in weather_list_float:
    normed_list = weather[i].tolist()
    data_norm_list = []
    for norms in normed_list:
        data_norm = ((norms - np.mean(normed_list))/(np.max(normed_list) - np.min(normed_list)))
        data_norm_list.append(data_norm)
#     print(i, data_norm_list)
    weather[i+'_norm'] = data_norm_list

In [23]:
weather['count'] = 1

In [24]:
for i in weather_list_float:
    normed_list = weather[i].tolist()
    data_norm_list = []
    for norms in normed_list:
        data_norm = ((norms - np.mean(normed_list))/np.std(normed_list))
        data_norm_list.append(data_norm)
#     print(i, data_norm_list)
    weather[i+'_std'] = data_norm_list

# Additional Weather Data

In [25]:
add_weather.columns
add_weather[:5]
add_weather.shape #(183335, 13)
add_weather.info

Index(['Site', 'Date', 'Hour', 'Temperature', 'Dewpoint', 'RH', 'WindDir',
       'Windspeed', 'CldFrac', 'MSLP', 'Weather', 'Precip', 'Source'],
      dtype='object')

,Site,Date,Hour,Temperature,Dewpoint,RH,WindDir,Windspeed,CldFrac,MSLP,Weather,Precip,Source
0,KJFK,1/1/1998 0:00:00,1,17,-1,45,NaN,17,0.1,NaN,FEW,NaN,NCDC
1,KJFK,1/1/1998 0:00:00,2,16,-1,47,NaN,20,0.0,NaN,CLR,NaN,NCDC
2,KJFK,1/1/1998 0:00:00,3,15,-1,49,NaN,15,0.0,NaN,CLR,NaN,NCDC
3,KJFK,1/1/1998 0:00:00,4,16,-1,47,NaN,15,0.1,NaN,FEW,NaN,NCDC
4,KJFK,1/1/1998 0:00:00,5,15,0,51,NaN,20,0.0,NaN,CLR,NaN,NCDC

(183335, 13)

<bound method DataFrame.info of         Site                Date  Hour  Temperature  Dewpoint  RH WindDir  \
0       KJFK    1/1/1998 0:00:00     1           17        -1  45     NaN
1       KJFK    1/1/1998 0:00:00     2           16        -1  47     NaN
2       KJFK    1/1/1998 0:00:00     3           15        -1  49     NaN
3       KJFK    1/1/1998 0:00:00     4           16        -1  47     NaN
4       KJFK    1/1/1998 0:00:00     5           15         0  51     NaN
5       KJFK    1/1/1998 0:00:00     6           15         1  53     NaN
6       KJFK    1/1/1998 0:00:00     7           15         2  56     NaN
7       KJFK    1/1/1998 0:00:00     8           16         2  54     NaN
8       KJFK    1/1/1998 0:00:00     9           18         2  49     NaN
9       KJFK    1/1/1998 0:00:00    10           20         3  48     NaN
10      KJFK    1/1/1998 0:00:00    11           22         4  46     NaN
11      KJFK    1/1/1998 0:00:00    12           25         6  44     NaN
12      KJFK    1/1/1998 0:00:00    13           27         6  41     NaN
13      KJFK    1/1/1998 0:00:00    14           27         9  47     NaN
14      KJFK    1/1/1998 0:00:00    15           28         9  45     NaN
15      KJFK    1/1/1998 0:00:00    16           28        10  47     NaN
16      KJFK    1/1/1998 0:00:00    17           28         8  43     NaN
17      KJFK    1/1/1998 0:00:00    18           28        10  47     NaN
18      KJFK    1/1/1998 0:00:00    19           28        10  47     NaN
19      KJFK    1/1/1998 0:00:00    20           28        12  51     NaN
20      KJFK    1/1/1998 0:00:00    21           29        12  49     NaN
21      KJFK    1/1/1998 0:00:00    22           30        14  51     NaN
22      KJFK    1/1/1998 0:00:00    23           30        15  54     NaN
23      KJFK    1/2/1998 0:00:00     0           31        16  54     NaN
24      KJFK    1/2/1998 0:00:00     1           31        18  59     NaN
25      KJFK    1/2/1998 0:00:00     2           31        18  59     NaN
26      KJFK    1/2/1998 0:00:00     3           32        18  56     NaN
27      KJFK    1/2/1998 0:00:00     4           31        19  61     NaN
28      KJFK    1/2/1998 0:00:00     5           30        20  66     NaN
29      KJFK    1/2/1998 0:00:00     6           30        21  69     NaN
...      ...                 ...   ...          ...       ...  ..     ...
183305  KJFK  11/29/2018 0:00:00    18           41        27  57     300
183306  KJFK  11/29/2018 0:00:00    19           41        27  57     300
183307  KJFK  11/29/2018 0:00:00    20           40        27  59     300
183308  KJFK  11/29/2018 0:00:00    21           40        27  59     310
183309  KJFK  11/29/2018 0:00:00    22           39        27  62     300
183310  KJFK  11/29/2018 0:00:00    23           39        27  62     310
183311  KJFK  11/30/2018 0:00:00     0           38        27  64     300
183312  KJFK  11/30/2018 0:00:00     1           37        27  67     300
183313  KJFK  11/30/2018 0:00:00     2           36        28  72     310
183314  KJFK  11/30/2018 0:00:00     3           36        27  69     300
183315  KJFK  11/30/2018 0:00:00     4           37        27  67     260
183316  KJFK  11/30/2018 0:00:00     5           38        29  70     280
183317  KJFK  11/30/2018 0:00:00     6           38        28  67     280
183318  KJFK  11/30/2018 0:00:00     7           38        30  73     250
183319  KJFK  11/30/2018 0:00:00     8           39        30  70     000
183320  KJFK  11/30/2018 0:00:00     9           40        30  67      70
183321  KJFK  11/30/2018 0:00:00    10           41        29  62     000
183322  KJFK  11/30/2018 0:00:00    11           41        30  65     190
183323  KJFK  11/30/2018 0:00:00    12           42        32  67     170
183324  KJFK  11/30/2018 0:00:00    13           41        31  67     230
183325  KJFK  11/30/2018 0:00:00    14           40        33  76     210
183326  KJFK  11/30/2018 0:00:00    15           39        34  82     220
183327  KJFK  11/30/2018 0:00:00    16           39        34  82     180
183328  KJFK  11/30/2018 0:00:00    17           39        34  82     190
183329  KJFK  11/30/2018 0:00:00    18           40        33  76     000
183330  KJFK  11/30/2018 0:00:00    19           40        34  79     000
183331  KJFK  11/30/2018 0:00:00    20           41        35  79      30
183332  KJFK  11/30/2018 0:00:00    21           40        37  89      20
183333  KJFK  11/30/2018 0:00:00    22           40        38  93     000
183334  KJFK  11/30/2018 0:00:00    23           40        37  89     350

        Windspeed  CldFrac   MSLP Weather  Precip Source
0              17      0.1    NaN     FEW     NaN   NCDC
1              20      0.0    NaN     CLR     NaN   NCDC
2              15      0.0    NaN     CLR     NaN   NCDC
3              15      0.1    NaN     FEW     NaN   NCDC
4              20      0.0    NaN     CLR     NaN   NCDC
5              16      0.0    NaN     CLR     NaN   NCDC
6              13      0.1    NaN     FEW     NaN   NCDC
7              10      0.4    NaN     SCT     NaN   NCDC
8              12      0.4    NaN     SCT     NaN   NCDC
9              12      0.4    NaN     SCT     NaN   NCDC
10             10      0.4    NaN     SCT     NaN   NCDC
11             15      0.7    NaN     BKN     NaN   NCDC
12             13      0.7    NaN     BKN     NaN   NCDC
13             21      0.7    NaN     BKN     NaN   NCDC
14             14      0.7    NaN     BKN     NaN   NCDC
15             17      0.7    NaN     BKN     NaN   NCDC
16             17      0.7    NaN     BKN     NaN   NCDC
17             18      0.7    NaN     BKN     NaN   NCDC
18             24      0.7    NaN     BKN     NaN   NCDC
19             26      0.7    NaN     BKN     NaN   NCDC
20             24      0.7    NaN     BKN     NaN   NCDC
21             26      0.7    NaN     BKN     NaN   NCDC
22             23      0.7    NaN     BKN     NaN   NCDC
23             25      0.7    NaN     BKN     NaN   NCDC
24             17      0.4    NaN     SCT     NaN   NCDC
25             14      0.4    NaN     SCT     NaN   NCDC
26             14      0.4    NaN     SCT     NaN   NCDC
27              9      0.1    NaN     FEW     NaN   NCDC
28             12      0.1    NaN     FEW     NaN   NCDC
29             12      0.1    NaN     FEW     NaN   NCDC
...           ...      ...    ...     ...     ...    ...
183305         18      0.7  29.95     BKN  0.0000   NCDC
183306         16      0.7  29.97     BKN  0.0000   NCDC
183307         16      0.4  29.98     SCT  0.0000   NCDC
183308         14      0.1  30.00     FEW  0.0000   NCDC
183309         11      0.1  30.02     FEW  0.0000   NCDC
183310         11      0.1  30.02     FEW  0.0000   NCDC
183311         10      0.0  30.03     CLR  0.0000   NCDC
183312          8      0.4  30.03     SCT  0.0000   NCDC
183313          7      0.7  30.03     BKN  0.0000   NCDC
183314          5      0.7  30.04     BKN  0.0000   NCDC
183315          3      0.7  30.04     BKN  0.0000   NCDC
183316          6      1.0  30.04     OVC  0.0000   NCDC
183317          7      1.0  30.05     -SN  0.0001   NCDC
183318          7      1.0  30.06   -SNRA  0.0001   NCDC
183319          0      1.0  30.05     OVC  0.0001   NCDC
183320          7      0.7  30.05     BKN  0.0001   NCDC
183321          0      0.7  30.07     BKN  0.0000   NCDC
183322          5      1.0  30.06     OVC  0.0000   NCDC
183323          6      1.0  30.04     OVC  0.0000   NCDC
183324          7      1.0  30.04     OVC  0.0001   NCDC
183325          6      1.0  30.04     -RA  0.0001   NCDC
183326          5      1.0  30.03     OVC  0.0100   NCDC
183327          5      1.0  30.04     -RA  0.0100   NCDC
183328          3      1.0  30.04     OVC  0.0001   NCDC
183329          0      1.0  30.05     OVC  0.0001   NCDC
183330          0      1.0  30.07     -RA  0.0001   NCDC
183331          3      1.0  30.10     OVC  0.0000    NWS
183332          3      1.0  30.10     OVC  0.0000    NWS
183333          0      1.0  30.11     OVC  0.0000    NWS
183334          6      1.0  30.12     OVC  0.0000    NWS

[183335 rows x 13 columns]>

In [69]:
add_weather['Date'] = pd.to_datetime(add_weather['Date'], infer_datetime_format= True)

In [70]:
add_weather = add_weather[add_weather['Date'] >= '2014-12-31']
add_weather = add_weather[add_weather['Date'] <= '2016-01-01']
# add_weather

# dataset = dataset[dataset['datetime'] >= '2014-12-31 22:00:00']

In [71]:
add_weather.columns
add_weather[:5]
add_weather.shape #(8808, 13)
add_weather.info

Index(['Site', 'Date', 'Hour', 'Temperature', 'Dewpoint', 'RH', 'WindDir',
       'Windspeed', 'CldFrac', 'MSLP', 'Weather', 'Precip', 'Source'],
      dtype='object')

,Site,Date,Hour,Temperature,Dewpoint,RH,WindDir,Windspeed,CldFrac,MSLP,Weather,Precip,Source
148991,KJFK,2014-12-31,0,29,11,47,060,3,0.7,30.38,BKN,0.0,NWS
148992,KJFK,2014-12-31,1,28,11,49,130,3,0.7,30.36,BKN,0.0,NWS
148993,KJFK,2014-12-31,2,29,10,44,000,0,0.7,30.37,BKN,0.0,NWS
148994,KJFK,2014-12-31,3,29,13,51,50,3,0.7,30.36,BKN,0.0,NWS
148995,KJFK,2014-12-31,4,28,13,52,000,0,0.7,30.35,BKN,0.0,NWS

(8808, 13)

<bound method DataFrame.info of         Site       Date  Hour  Temperature  Dewpoint  RH WindDir  Windspeed  \
148991  KJFK 2014-12-31     0           29        11  47     060          3
148992  KJFK 2014-12-31     1           28        11  49     130          3
148993  KJFK 2014-12-31     2           29        10  44     000          0
148994  KJFK 2014-12-31     3           29        13  51      50          3
148995  KJFK 2014-12-31     4           28        13  52     000          0
148996  KJFK 2014-12-31     5           31        14  49     250         15
148997  KJFK 2014-12-31     6           30        14  51     250         17
148998  KJFK 2014-12-31     7           28        13  52     280         10
148999  KJFK 2014-12-31     8           29        13  51     280         12
149000  KJFK 2014-12-31     9           30        10  43     300         14
149001  KJFK 2014-12-31    10           31         6  34     280         15
149002  KJFK 2014-12-31    11           31         6  34     290         12
149003  KJFK 2014-12-31    12           32         6  33     280         14
149004  KJFK 2014-12-31    13           34         6  30     320         10
149005  KJFK 2014-12-31    14           32         6  33     270         15
149006  KJFK 2014-12-31    15           33         6  31     270         13
149007  KJFK 2014-12-31    16           32         7  34     250         13
149008  KJFK 2014-12-31    17           32         6  33     280         10
149009  KJFK 2014-12-31    18           31         7  36     250         18
149010  KJFK 2014-12-31    19           31         7  36     250         13
149011  KJFK 2014-12-31    20           31         7  36     250         15
149012  KJFK 2014-12-31    21           31         8  38     250         13
149013  KJFK 2014-12-31    22           30        12  47     230         15
149014  KJFK 2014-12-31    23           31        13  47     240         18
149015  KJFK 2015-01-01     0           30        11  45     260         15
149016  KJFK 2015-01-01     1           29        11  47     260         13
149017  KJFK 2015-01-01     2           29        13  51     250         14
149018  KJFK 2015-01-01     3           29        11  47     250         14
149019  KJFK 2015-01-01     4           29         8  41     260         17
149020  KJFK 2015-01-01     5           29         7  39     270         14
...      ...        ...   ...          ...       ...  ..     ...        ...
157769  KJFK 2015-12-31    18           48        31  51     310         13
157770  KJFK 2015-12-31    19           47        32  56     300         12
157771  KJFK 2015-12-31    20           47        30  52     310         10
157772  KJFK 2015-12-31    21           46        29  52     310         16
157773  KJFK 2015-12-31    22           45        28  51     320         17
157774  KJFK 2015-12-31    23           44        27  51     310         15
157775  KJFK 2016-01-01     0           44        28  53     310         13
157776  KJFK 2016-01-01     1           43        27  53     320         13
157777  KJFK 2016-01-01     2           43        27  53     320         14
157778  KJFK 2016-01-01     3           42        27  55     310          9
157779  KJFK 2016-01-01     4           43        27  53     280          8
157780  KJFK 2016-01-01     5           42        28  58     280         13
157781  KJFK 2016-01-01     6           41        27  58     270         11
157782  KJFK 2016-01-01     7           41        27  58     300         11
157783  KJFK 2016-01-01     8           41        27  58     280          9
157784  KJFK 2016-01-01     9           40        26  57     280         11
157785  KJFK 2016-01-01    10           41        26  55     280         11
157786  KJFK 2016-01-01    11           41        25  53     270         15
157787  KJFK 2016-01-01    12           42        25  51     270         15
157788  KJFK 2016-01-01    13           42        25  51     280         17
157789  KJFK 2016-01-01    14           42        25  51     270         18
157790  KJFK 2016-01-01    15           41        26  55     270         18
157791  KJFK 2016-01-01    16           40        21  47     270         17
157792  KJFK 2016-01-01    17           40        21  47     280         15
157793  KJFK 2016-01-01    18           40        21  47     270         16
157794  KJFK 2016-01-01    19           39        19  45     290         21
157795  KJFK 2016-01-01    20           39        18  43     290         21
157796  KJFK 2016-01-01    21           38        19  46     280         14
157797  KJFK 2016-01-01    22           38        20  48     270         15
157798  KJFK 2016-01-01    23           37        19  48     270         16

        CldFrac   MSLP Weather  Precip Source
148991      0.7  30.38     BKN     0.0    NWS
148992      0.7  30.36     BKN     0.0    NWS
148993      0.7  30.37     BKN     0.0    NWS
148994      0.7  30.36     BKN     0.0    NWS
148995      0.7  30.35     BKN     0.0    NWS
148996      0.4  30.34     SCT     0.0    NWS
148997      0.1  30.33     FEW     0.0    NWS
148998      0.4  30.35     SCT     0.0    NWS
148999      0.4  30.37     SCT     0.0    NWS
149000      0.4  30.38     SCT     0.0    NWS
149001      0.4  30.38     SCT     0.0    NWS
149002      0.4  30.35     SCT     0.0    NWS
149003      0.4  30.31     SCT     0.0    NWS
149004      0.4  30.29     SCT     0.0    NWS
149005      0.4  30.28     SCT     0.0    NWS
149006      0.7  30.29     BKN     0.0    NWS
149007      0.7  30.27     BKN     0.0    NWS
149008      0.4  30.27     SCT     0.0    NWS
149009      0.1  30.27     FEW     0.0    NWS
149010      0.1  30.27     FEW     0.0    NWS
149011      0.1  30.25     FEW     0.0   NCDC
149012      0.1  30.24     FEW     0.0   NCDC
149013      0.0  30.22     CLR     0.0   NCDC
149014      0.0  30.20     CLR     0.0   NCDC
149015      0.0  30.20     CLR     0.0   NCDC
149016      0.0  30.17     CLR     0.0   NCDC
149017      0.4  30.16     SCT     0.0   NCDC
149018      0.1  30.16     FEW     0.0   NCDC
149019      0.0  30.14     CLR     0.0   NCDC
149020      0.0  30.15     CLR     0.0   NCDC
...         ...    ...     ...     ...    ...
157769      1.0  30.09     OVC     0.0    NWS
157770      0.7  30.09     BKN     0.0    NWS
157771      0.7  30.10     BKN     0.0    NWS
157772      1.0  30.10     OVC     0.0    NWS
157773      1.0  30.10     OVC     0.0    NWS
157774      0.7  30.09     BKN     0.0    NWS
157775      0.7  30.09     BKN     0.0    NWS
157776      0.7  30.06     BKN     0.0    NWS
157777      0.7  30.06     BKN     0.0    NWS
157778      0.7  30.06     BKN     0.0    NWS
157779      1.0  30.05     OVC     0.0    NWS
157780      1.0  30.04     OVC     0.0    NWS
157781      1.0  30.05     OVC     0.0    NWS
157782      0.7  30.05     BKN     0.0    NWS
157783      0.7  30.06     BKN     0.0    NWS
157784      0.7  30.07     BKN     0.0    NWS
157785      0.7  30.07     BKN     0.0    NWS
157786      0.7  30.05     BKN     0.0    NWS
157787      0.7  30.03     BKN     0.0    NWS
157788      0.7  30.00     BKN     0.0    NWS
157789      0.7  29.98     BKN     0.0    NWS
157790      0.7  29.98     BKN     0.0    NWS
157791      0.7  30.00     BKN     0.0    NWS
157792      0.7  29.98     BKN     0.0    NWS
157793      0.4  30.01     SCT     0.0   NCDC
157794      0.4  30.02     SCT     0.0   NCDC
157795      0.1  30.04     FEW     0.0   NCDC
157796      0.0  30.04     CLR     0.0   NCDC
157797      0.0  30.04     CLR     0.0   NCDC
157798      0.1  30.04     FEW     0.0   NCDC

[8808 rows x 13 columns]>

In [72]:
hours = list(add_weather['Hour'].values)
dates = add_weather['Date']
dates[:5]
hours[:5]

148991   2014-12-31
148992   2014-12-31
148993   2014-12-31
148994   2014-12-31
148995   2014-12-31
Name: Date, dtype: datetime64[ns]

[0, 1, 2, 3, 4]

In [73]:
aaa = dates.tolist()
# aaa
aa = []
for i in aaa:
    a = '{:%Y-%m-%d}'.format(i)
    aa.append(a)
# aa

In [74]:
hrs=[]
for t in hours:
    t = str("{0:02d}".format(int(t))) + ':00:00'
    hrs.append(t)

In [75]:
a = pd.DataFrame(aa, columns=list('a'))
b = pd.DataFrame(hrs, columns=list('a'))

In [76]:
datetime = a+' '+b
datetime['a'] = pd.to_datetime(datetime['a'],infer_datetime_format=True)
datetime[:5]

                    a
0 2014-12-31 00:00:00
1 2014-12-31 01:00:00
2 2014-12-31 02:00:00
3 2014-12-31 03:00:00
4 2014-12-31 04:00:00

In [80]:
datetime = list(datetime['a'])

In [81]:
datetime

[Timestamp('2014-12-31 00:00:00'),
 Timestamp('2014-12-31 01:00:00'),
 Timestamp('2014-12-31 02:00:00'),
 Timestamp('2014-12-31 03:00:00'),
 Timestamp('2014-12-31 04:00:00'),
 Timestamp('2014-12-31 05:00:00'),
 Timestamp('2014-12-31 06:00:00'),
 Timestamp('2014-12-31 07:00:00'),
 Timestamp('2014-12-31 08:00:00'),
 Timestamp('2014-12-31 09:00:00'),
 Timestamp('2014-12-31 10:00:00'),
 Timestamp('2014-12-31 11:00:00'),
 Timestamp('2014-12-31 12:00:00'),
 Timestamp('2014-12-31 13:00:00'),
 Timestamp('2014-12-31 14:00:00'),
 Timestamp('2014-12-31 15:00:00'),
 Timestamp('2014-12-31 16:00:00'),
 Timestamp('2014-12-31 17:00:00'),
 Timestamp('2014-12-31 18:00:00'),
 Timestamp('2014-12-31 19:00:00'),
 Timestamp('2014-12-31 20:00:00'),
 Timestamp('2014-12-31 21:00:00'),
 Timestamp('2014-12-31 22:00:00'),
 Timestamp('2014-12-31 23:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-01-01 01:00:00'),
 Timestamp('2015-01-01 02:00:00'),
 Timestamp('2015-01-01 03:00:00'),
 Timestamp('2015-01-01 04:00:00'),
 Timestamp('2015-01-01 05:00:00'),
 Timestamp('2015-01-01 06:00:00'),
 Timestamp('2015-01-01 07:00:00'),
 Timestamp('2015-01-01 08:00:00'),
 Timestamp('2015-01-01 09:00:00'),
 Timestamp('2015-01-01 10:00:00'),
 Timestamp('2015-01-01 11:00:00'),
 Timestamp('2015-01-01 12:00:00'),
 Timestamp('2015-01-01 13:00:00'),
 Timestamp('2015-01-01 14:00:00'),
 Timestamp('2015-01-01 15:00:00'),
 Timestamp('2015-01-01 16:00:00'),
 Timestamp('2015-01-01 17:00:00'),
 Timestamp('2015-01-01 18:00:00'),
 Timestamp('2015-01-01 19:00:00'),
 Timestamp('2015-01-01 20:00:00'),
 Timestamp('2015-01-01 21:00:00'),
 Timestamp('2015-01-01 22:00:00'),
 Timestamp('2015-01-01 23:00:00'),
 Timestamp('2015-01-02 00:00:00'),
 Timestamp('2015-01-02 01:00:00'),
 Timestamp('2015-01-02 02:00:00'),
 Timestamp('2015-01-02 03:00:00'),
 Timestamp('2015-01-02 04:00:00'),
 Timestamp('2015-01-02 05:00:00'),
 Timestamp('2015-01-02 06:00:00'),
 Timestamp('2015-01-02 07:00:00'),
 Timestamp('2015-01-02 08:00:00'),
 Timestamp('2015-01-02 09:00:00'),
 Timestamp('2015-01-02 10:00:00'),
 Timestamp('2015-01-02 11:00:00'),
 Timestamp('2015-01-02 12:00:00'),
 Timestamp('2015-01-02 13:00:00'),
 Timestamp('2015-01-02 14:00:00'),
 Timestamp('2015-01-02 15:00:00'),
 Timestamp('2015-01-02 16:00:00'),
 Timestamp('2015-01-02 17:00:00'),
 Timestamp('2015-01-02 18:00:00'),
 Timestamp('2015-01-02 19:00:00'),
 Timestamp('2015-01-02 20:00:00'),
 Timestamp('2015-01-02 21:00:00'),
 Timestamp('2015-01-02 22:00:00'),
 Timestamp('2015-01-02 23:00:00'),
 Timestamp('2015-01-03 00:00:00'),
 Timestamp('2015-01-03 01:00:00'),
 Timestamp('2015-01-03 02:00:00'),
 Timestamp('2015-01-03 03:00:00'),
 Timestamp('2015-01-03 04:00:00'),
 Timestamp('2015-01-03 05:00:00'),
 Timestamp('2015-01-03 06:00:00'),
 Timestamp('2015-01-03 07:00:00'),
 Timestamp('2015-01-03 08:00:00'),
 Timestamp('2015-01-03 09:00:00'),
 Timestamp('2015-01-03 10:00:00'),
 Timestamp('2015-01-03 11:00:00'),
 Timestamp('2015-01-03 12:00:00'),
 Timestamp('2015-01-03 13:00:00'),
 Timestamp('2015-01-03 14:00:00'),
 Timestamp('2015-01-03 15:00:00'),
 Timestamp('2015-01-03 16:00:00'),
 Timestamp('2015-01-03 17:00:00'),
 Timestamp('2015-01-03 18:00:00'),
 Timestamp('2015-01-03 19:00:00'),
 Timestamp('2015-01-03 20:00:00'),
 Timestamp('2015-01-03 21:00:00'),
 Timestamp('2015-01-03 22:00:00'),
 Timestamp('2015-01-03 23:00:00'),
 Timestamp('2015-01-04 00:00:00'),
 Timestamp('2015-01-04 01:00:00'),
 Timestamp('2015-01-04 02:00:00'),
 Timestamp('2015-01-04 03:00:00'),
 Timestamp('2015-01-04 04:00:00'),
 Timestamp('2015-01-04 05:00:00'),
 Timestamp('2015-01-04 06:00:00'),
 Timestamp('2015-01-04 07:00:00'),
 Timestamp('2015-01-04 08:00:00'),
 Timestamp('2015-01-04 09:00:00'),
 Timestamp('2015-01-04 10:00:00'),
 Timestamp('2015-01-04 11:00:00'),
 Timestamp('2015-01-04 12:00:00'),
 Timestamp('2015-01-04 13:00:00'),
 Timestamp('2015-01-04 14:00:00'),
 Timestamp('2015-01-04 15:00:00'),
 Timestamp('2015-01-04 16:00:00'),
 Timestamp('2015-01-04 17:00:00'),
 Timestamp('2015-01-04 18:00:00'),
 Timestamp('2015-01-04 19:00:00'),
 Timestamp('2015-01-04 20:00:00'),
 Timestamp('2015-01-04 21:00:00'),
 Timestamp('2015-01-04 22:00:00'),
 Timestamp('2015-01-04 23:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-05 01:00:00'),
 Timestamp('2015-01-05 02:00:00'),
 Timestamp('2015-01-05 03:00:00'),
 Timestamp('2015-01-05 04:00:00'),
 Timestamp('2015-01-05 05:00:00'),
 Timestamp('2015-01-05 06:00:00'),
 Timestamp('2015-01-05 07:00:00'),
 Timestamp('2015-01-05 08:00:00'),
 Timestamp('2015-01-05 09:00:00'),
 Timestamp('2015-01-05 10:00:00'),
 Timestamp('2015-01-05 11:00:00'),
 Timestamp('2015-01-05 12:00:00'),
 Timestamp('2015-01-05 13:00:00'),
 Timestamp('2015-01-05 14:00:00'),
 Timestamp('2015-01-05 15:00:00'),
 Timestamp('2015-01-05 16:00:00'),
 Timestamp('2015-01-05 17:00:00'),
 Timestamp('2015-01-05 18:00:00'),
 Timestamp('2015-01-05 19:00:00'),
 Timestamp('2015-01-05 20:00:00'),
 Timestamp('2015-01-05 21:00:00'),
 Timestamp('2015-01-05 22:00:00'),
 Timestamp('2015-01-05 23:00:00'),
 Timestamp('2015-01-06 00:00:00'),
 Timestamp('2015-01-06 01:00:00'),
 Timestamp('2015-01-06 02:00:00'),
 Timestamp('2015-01-06 03:00:00'),
 Timestamp('2015-01-06 04:00:00'),
 Timestamp('2015-01-06 05:00:00'),
 Timestamp('2015-01-06 06:00:00'),
 Timestamp('2015-01-06 07:00:00'),
 Timestamp('2015-01-06 08:00:00'),
 Timestamp('2015-01-06 09:00:00'),
 Timestamp('2015-01-06 10:00:00'),
 Timestamp('2015-01-06 11:00:00'),
 Timestamp('2015-01-06 12:00:00'),
 Timestamp('2015-01-06 13:00:00'),
 Timestamp('2015-01-06 14:00:00'),
 Timestamp('2015-01-06 15:00:00'),
 Timestamp('2015-01-06 16:00:00'),
 Timestamp('2015-01-06 17:00:00'),
 Timestamp('2015-01-06 18:00:00'),
 Timestamp('2015-01-06 19:00:00'),
 Timestamp('2015-01-06 20:00:00'),
 Timestamp('2015-01-06 21:00:00'),
 Timestamp('2015-01-06 22:00:00'),
 Timestamp('2015-01-06 23:00:00'),
 Timestamp('2015-01-07 00:00:00'),
 Timestamp('2015-01-07 01:00:00'),
 Timestamp('2015-01-07 02:00:00'),
 Timestamp('2015-01-07 03:00:00'),
 Timestamp('2015-01-07 04:00:00'),
 Timestamp('2015-01-07 05:00:00'),
 Timestamp('2015-01-07 06:00:00'),
 Timestamp('2015-01-07 07:00:00'),
 Timestamp('2015-01-07 08:00:00'),
 Timestamp('2015-01-07 09:00:00'),
 Timestamp('2015-01-07 10:00:00'),
 Timestamp('2015-01-07 11:00:00'),
 Timestamp('2015-01-07 12:00:00'),
 Timestamp('2015-01-07 13:00:00'),
 Timestamp('2015-01-07 14:00:00'),
 Timestamp('2015-01-07 15:00:00'),
 Timestamp('2015-01-07 16:00:00'),
 Timestamp('2015-01-07 17:00:00'),
 Timestamp('2015-01-07 18:00:00'),
 Timestamp('2015-01-07 19:00:00'),
 Timestamp('2015-01-07 20:00:00'),
 Timestamp('2015-01-07 21:00:00'),
 Timestamp('2015-01-07 22:00:00'),
 Timestamp('2015-01-07 23:00:00'),
 Timestamp('2015-01-08 00:00:00'),
 Timestamp('2015-01-08 01:00:00'),
 Timestamp('2015-01-08 02:00:00'),
 Timestamp('2015-01-08 03:00:00'),
 Timestamp('2015-01-08 04:00:00'),
 Timestamp('2015-01-08 05:00:00'),
 Timestamp('2015-01-08 06:00:00'),
 Timestamp('2015-01-08 07:00:00'),
 Timestamp('2015-01-08 08:00:00'),
 Timestamp('2015-01-08 09:00:00'),
 Timestamp('2015-01-08 10:00:00'),
 Timestamp('2015-01-08 11:00:00'),
 Timestamp('2015-01-08 12:00:00'),
 Timestamp('2015-01-08 13:00:00'),
 Timestamp('2015-01-08 14:00:00'),
 Timestamp('2015-01-08 15:00:00'),
 Timestamp('2015-01-08 16:00:00'),
 Timestamp('2015-01-08 17:00:00'),
 Timestamp('2015-01-08 18:00:00'),
 Timestamp('2015-01-08 19:00:00'),
 Timestamp('2015-01-08 20:00:00'),
 Timestamp('2015-01-08 21:00:00'),
 Timestamp('2015-01-08 22:00:00'),
 Timestamp('2015-01-08 23:00:00'),
 Timestamp('2015-01-09 00:00:00'),
 Timestamp('2015-01-09 01:00:00'),
 Timestamp('2015-01-09 02:00:00'),
 Timestamp('2015-01-09 03:00:00'),
 Timestamp('2015-01-09 04:00:00'),
 Timestamp('2015-01-09 05:00:00'),
 Timestamp('2015-01-09 06:00:00'),
 Timestamp('2015-01-09 07:00:00'),
 Timestamp('2015-01-09 08:00:00'),
 Timestamp('2015-01-09 09:00:00'),
 Timestamp('2015-01-09 10:00:00'),
 Timestamp('2015-01-09 11:00:00'),
 Timestamp('2015-01-09 12:00:00'),
 Timestamp('2015-01-09 13:00:00'),
 Timestamp('2015-01-09 14:00:00'),
 Timestamp('2015-01-09 15:00:00'),
 Timestamp('2015-01-09 16:00:00'),
 Timestamp('2015-01-09 17:00:00'),
 Timestamp('2015-01-09 18:00:00'),
 Timestamp('2015-01-09 19:00:00'),
 Timestamp('2015-01-09 20:00:00'),
 Timestamp('2015-01-09 21:00:00'),
 Timestamp('2015-01-09 22:00:00'),
 Timestamp('2015-01-09 23:00:00'),
 Timestamp('2015-01-10 00:00:00'),
 Timestamp('2015-01-10 01:00:00'),
 Timestamp('2015-01-10 02:00:00'),
 Timestamp('2015-01-10 03:00:00'),
 Timestamp('2015-01-10 04:00:00'),
 Timestamp('2015-01-10 05:00:00'),
 Timestamp('2015-01-10 06:00:00'),
 Timestamp('2015-01-10 07:00:00'),
 Timestamp('2015-01-10 08:00:00'),
 Timestamp('2015-01-10 09:00:00'),
 Timestamp('2015-01-10 10:00:00'),
 Timestamp('2015-01-10 11:00:00'),
 Timestamp('2015-01-10 12:00:00'),
 Timestamp('2015-01-10 13:00:00'),
 Timestamp('2015-01-10 14:00:00'),
 Timestamp('2015-01-10 15:00:00'),
 Timestamp('2015-01-10 16:00:00'),
 Timestamp('2015-01-10 17:00:00'),
 Timestamp('2015-01-10 18:00:00'),
 Timestamp('2015-01-10 19:00:00'),
 Timestamp('2015-01-10 20:00:00'),
 Timestamp('2015-01-10 21:00:00'),
 Timestamp('2015-01-10 22:00:00'),
 Timestamp('2015-01-10 23:00:00'),
 Timestamp('2015-01-11 00:00:00'),
 Timestamp('2015-01-11 01:00:00'),
 Timestamp('2015-01-11 02:00:00'),
 Timestamp('2015-01-11 03:00:00'),
 Timestamp('2015-01-11 04:00:00'),
 Timestamp('2015-01-11 05:00:00'),
 Timestamp('2015-01-11 06:00:00'),
 Timestamp('2015-01-11 07:00:00'),
 Timestamp('2015-01-11 08:00:00'),
 Timestamp('2015-01-11 09:00:00'),
 Timestamp('2015-01-11 10:00:00'),
 Timestamp('2015-01-11 11:00:00'),
 Timestamp('2015-01-11 12:00:00'),
 Timestamp('2015-01-11 13:00:00'),
 Timestamp('2015-01-11 14:00:00'),
 Timestamp('2015-01-11 15:00:00'),
 Timestamp('2015-01-11 16:00:00'),
 Timestamp('2015-01-11 17:00:00'),
 Timestamp('2015-01-11 18:00:00'),
 Timestamp('2015-01-11 19:00:00'),
 Timestamp('2015-01-11 20:00:00'),
 Timestamp('2015-01-11 21:00:00'),
 Timestamp('2015-01-11 22:00:00'),
 Timestamp('2015-01-11 23:00:00'),
 Timestamp('2015-01-12 00:00:00'),
 Timestamp('2015-01-12 01:00:00'),
 Timestamp('2015-01-12 02:00:00'),
 Timestamp('2015-01-12 03:00:00'),
 Timestamp('2015-01-12 04:00:00'),
 Timestamp('2015-01-12 05:00:00'),
 Timestamp('2015-01-12 06:00:00'),
 Timestamp('2015-01-12 07:00:00'),
 Timestamp('2015-01-12 08:00:00'),
 Timestamp('2015-01-12 09:00:00'),
 Timestamp('2015-01-12 10:00:00'),
 Timestamp('2015-01-12 11:00:00'),
 Timestamp('2015-01-12 12:00:00'),
 Timestamp('2015-01-12 13:00:00'),
 Timestamp('2015-01-12 14:00:00'),
 Timestamp('2015-01-12 15:00:00'),
 Timestamp('2015-01-12 16:00:00'),
 Timestamp('2015-01-12 17:00:00'),
 Timestamp('2015-01-12 18:00:00'),
 Timestamp('2015-01-12 19:00:00'),
 Timestamp('2015-01-12 20:00:00'),
 Timestamp('2015-01-12 21:00:00'),
 Timestamp('2015-01-12 22:00:00'),
 Timestamp('2015-01-12 23:00:00'),
 Timestamp('2015-01-13 00:00:00'),
 Timestamp('2015-01-13 01:00:00'),
 Timestamp('2015-01-13 02:00:00'),
 Timestamp('2015-01-13 03:00:00'),
 Timestamp('2015-01-13 04:00:00'),
 Timestamp('2015-01-13 05:00:00'),
 Timestamp('2015-01-13 06:00:00'),
 Timestamp('2015-01-13 07:00:00'),
 Timestamp('2015-01-13 08:00:00'),
 Timestamp('2015-01-13 09:00:00'),
 Timestamp('2015-01-13 10:00:00'),
 Timestamp('2015-01-13 11:00:00'),
 Timestamp('2015-01-13 12:00:00'),
 Timestamp('2015-01-13 13:00:00'),
 Timestamp('2015-01-13 14:00:00'),
 Timestamp('2015-01-13 15:00:00'),
 Timestamp('2015-01-13 16:00:00'),
 Timestamp('2015-01-13 17:00:00'),
 Timestamp('2015-01-13 18:00:00'),
 Timestamp('2015-01-13 19:00:00'),
 Timestamp('2015-01-13 20:00:00'),
 Timestamp('2015-01-13 21:00:00'),
 Timestamp('2015-01-13 22:00:00'),
 Timestamp('2015-01-13 23:00:00'),
 Timestamp('2015-01-14 00:00:00'),
 Timestamp('2015-01-14 01:00:00'),
 Timestamp('2015-01-14 02:00:00'),
 Timestamp('2015-01-14 03:00:00'),
 Timestamp('2015-01-14 04:00:00'),
 Timestamp('2015-01-14 05:00:00'),
 Timestamp('2015-01-14 06:00:00'),
 Timestamp('2015-01-14 07:00:00'),
 Timestamp('2015-01-14 08:00:00'),
 Timestamp('2015-01-14 09:00:00'),
 Timestamp('2015-01-14 10:00:00'),
 Timestamp('2015-01-14 11:00:00'),
 Timestamp('2015-01-14 12:00:00'),
 Timestamp('2015-01-14 13:00:00'),
 Timestamp('2015-01-14 14:00:00'),
 Timestamp('2015-01-14 15:00:00'),
 Timestamp('2015-01-14 16:00:00'),
 Timestamp('2015-01-14 17:00:00'),
 Timestamp('2015-01-14 18:00:00'),
 Timestamp('2015-01-14 19:00:00'),
 Timestamp('2015-01-14 20:00:00'),
 Timestamp('2015-01-14 21:00:00'),
 Timestamp('2015-01-14 22:00:00'),
 Timestamp('2015-01-14 23:00:00'),
 Timestamp('2015-01-15 00:00:00'),
 Timestamp('2015-01-15 01:00:00'),
 Timestamp('2015-01-15 02:00:00'),
 Timestamp('2015-01-15 03:00:00'),
 Timestamp('2015-01-15 04:00:00'),
 Timestamp('2015-01-15 05:00:00'),
 Timestamp('2015-01-15 06:00:00'),
 Timestamp('2015-01-15 07:00:00'),
 Timestamp('2015-01-15 08:00:00'),
 Timestamp('2015-01-15 09:00:00'),
 Timestamp('2015-01-15 10:00:00'),
 Timestamp('2015-01-15 11:00:00'),
 Timestamp('2015-01-15 12:00:00'),
 Timestamp('2015-01-15 13:00:00'),
 Timestamp('2015-01-15 14:00:00'),
 Timestamp('2015-01-15 15:00:00'),
 Timestamp('2015-01-15 16:00:00'),
 Timestamp('2015-01-15 17:00:00'),
 Timestamp('2015-01-15 18:00:00'),
 Timestamp('2015-01-15 19:00:00'),
 Timestamp('2015-01-15 20:00:00'),
 Timestamp('2015-01-15 21:00:00'),
 Timestamp('2015-01-15 22:00:00'),
 Timestamp('2015-01-15 23:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2015-01-16 01:00:00'),
 Timestamp('2015-01-16 02:00:00'),
 Timestamp('2015-01-16 03:00:00'),
 Timestamp('2015-01-16 04:00:00'),
 Timestamp('2015-01-16 05:00:00'),
 Timestamp('2015-01-16 06:00:00'),
 Timestamp('2015-01-16 07:00:00'),
 Timestamp('2015-01-16 08:00:00'),
 Timestamp('2015-01-16 09:00:00'),
 Timestamp('2015-01-16 10:00:00'),
 Timestamp('2015-01-16 11:00:00'),
 Timestamp('2015-01-16 12:00:00'),
 Timestamp('2015-01-16 13:00:00'),
 Timestamp('2015-01-16 14:00:00'),
 Timestamp('2015-01-16 15:00:00'),
 Timestamp('2015-01-16 16:00:00'),
 Timestamp('2015-01-16 17:00:00'),
 Timestamp('2015-01-16 18:00:00'),
 Timestamp('2015-01-16 19:00:00'),
 Timestamp('2015-01-16 20:00:00'),
 Timestamp('2015-01-16 21:00:00'),
 Timestamp('2015-01-16 22:00:00'),
 Timestamp('2015-01-16 23:00:00'),
 Timestamp('2015-01-17 00:00:00'),
 Timestamp('2015-01-17 01:00:00'),
 Timestamp('2015-01-17 02:00:00'),
 Timestamp('2015-01-17 03:00:00'),
 Timestamp('2015-01-17 04:00:00'),
 Timestamp('2015-01-17 05:00:00'),
 Timestamp('2015-01-17 06:00:00'),
 Timestamp('2015-01-17 07:00:00'),
 Timestamp('2015-01-17 08:00:00'),
 Timestamp('2015-01-17 09:00:00'),
 Timestamp('2015-01-17 10:00:00'),
 Timestamp('2015-01-17 11:00:00'),
 Timestamp('2015-01-17 12:00:00'),
 Timestamp('2015-01-17 13:00:00'),
 Timestamp('2015-01-17 14:00:00'),
 Timestamp('2015-01-17 15:00:00'),
 Timestamp('2015-01-17 16:00:00'),
 Timestamp('2015-01-17 17:00:00'),
 Timestamp('2015-01-17 18:00:00'),
 Timestamp('2015-01-17 19:00:00'),
 Timestamp('2015-01-17 20:00:00'),
 Timestamp('2015-01-17 21:00:00'),
 Timestamp('2015-01-17 22:00:00'),
 Timestamp('2015-01-17 23:00:00'),
 Timestamp('2015-01-18 00:00:00'),
 Timestamp('2015-01-18 01:00:00'),
 Timestamp('2015-01-18 02:00:00'),
 Timestamp('2015-01-18 03:00:00'),
 Timestamp('2015-01-18 04:00:00'),
 Timestamp('2015-01-18 05:00:00'),
 Timestamp('2015-01-18 06:00:00'),
 Timestamp('2015-01-18 07:00:00'),
 Timestamp('2015-01-18 08:00:00'),
 Timestamp('2015-01-18 09:00:00'),
 Timestamp('2015-01-18 10:00:00'),
 Timestamp('2015-01-18 11:00:00'),
 Timestamp('2015-01-18 12:00:00'),
 Timestamp('2015-01-18 13:00:00'),
 Timestamp('2015-01-18 14:00:00'),
 Timestamp('2015-01-18 15:00:00'),
 Timestamp('2015-01-18 16:00:00'),
 Timestamp('2015-01-18 17:00:00'),
 Timestamp('2015-01-18 18:00:00'),
 Timestamp('2015-01-18 19:00:00'),
 Timestamp('2015-01-18 20:00:00'),
 Timestamp('2015-01-18 21:00:00'),
 Timestamp('2015-01-18 22:00:00'),
 Timestamp('2015-01-18 23:00:00'),
 Timestamp('2015-01-19 00:00:00'),
 Timestamp('2015-01-19 01:00:00'),
 Timestamp('2015-01-19 02:00:00'),
 Timestamp('2015-01-19 03:00:00'),
 Timestamp('2015-01-19 04:00:00'),
 Timestamp('2015-01-19 05:00:00'),
 Timestamp('2015-01-19 06:00:00'),
 Timestamp('2015-01-19 07:00:00'),
 Timestamp('2015-01-19 08:00:00'),
 Timestamp('2015-01-19 09:00:00'),
 Timestamp('2015-01-19 10:00:00'),
 Timestamp('2015-01-19 11:00:00'),
 Timestamp('2015-01-19 12:00:00'),
 Timestamp('2015-01-19 13:00:00'),
 Timestamp('2015-01-19 14:00:00'),
 Timestamp('2015-01-19 15:00:00'),
 Timestamp('2015-01-19 16:00:00'),
 Timestamp('2015-01-19 17:00:00'),
 Timestamp('2015-01-19 18:00:00'),
 Timestamp('2015-01-19 19:00:00'),
 Timestamp('2015-01-19 20:00:00'),
 Timestamp('2015-01-19 21:00:00'),
 Timestamp('2015-01-19 22:00:00'),
 Timestamp('2015-01-19 23:00:00'),
 Timestamp('2015-01-20 00:00:00'),
 Timestamp('2015-01-20 01:00:00'),
 Timestamp('2015-01-20 02:00:00'),
 Timestamp('2015-01-20 03:00:00'),
 Timestamp('2015-01-20 04:00:00'),
 Timestamp('2015-01-20 05:00:00'),
 Timestamp('2015-01-20 06:00:00'),
 Timestamp('2015-01-20 07:00:00'),
 Timestamp('2015-01-20 08:00:00'),
 Timestamp('2015-01-20 09:00:00'),
 Timestamp('2015-01-20 10:00:00'),
 Timestamp('2015-01-20 11:00:00'),
 Timestamp('2015-01-20 12:00:00'),
 Timestamp('2015-01-20 13:00:00'),
 Timestamp('2015-01-20 14:00:00'),
 Timestamp('2015-01-20 15:00:00'),
 Timestamp('2015-01-20 16:00:00'),
 Timestamp('2015-01-20 17:00:00'),
 Timestamp('2015-01-20 18:00:00'),
 Timestamp('2015-01-20 19:00:00'),
 Timestamp('2015-01-20 20:00:00'),
 Timestamp('2015-01-20 21:00:00'),
 Timestamp('2015-01-20 22:00:00'),
 Timestamp('2015-01-20 23:00:00'),
 Timestamp('2015-01-21 00:00:00'),
 Timestamp('2015-01-21 01:00:00'),
 Timestamp('2015-01-21 02:00:00'),
 Timestamp('2015-01-21 03:00:00'),
 Timestamp('2015-01-21 04:00:00'),
 Timestamp('2015-01-21 05:00:00'),
 Timestamp('2015-01-21 06:00:00'),
 Timestamp('2015-01-21 07:00:00'),
 Timestamp('2015-01-21 08:00:00'),
 Timestamp('2015-01-21 09:00:00'),
 Timestamp('2015-01-21 10:00:00'),
 Timestamp('2015-01-21 11:00:00'),
 Timestamp('2015-01-21 12:00:00'),
 Timestamp('2015-01-21 13:00:00'),
 Timestamp('2015-01-21 14:00:00'),
 Timestamp('2015-01-21 15:00:00'),
 Timestamp('2015-01-21 16:00:00'),
 Timestamp('2015-01-21 17:00:00'),
 Timestamp('2015-01-21 18:00:00'),
 Timestamp('2015-01-21 19:00:00'),
 Timestamp('2015-01-21 20:00:00'),
 Timestamp('2015-01-21 21:00:00'),
 Timestamp('2015-01-21 22:00:00'),
 Timestamp('2015-01-21 23:00:00'),
 Timestamp('2015-01-22 00:00:00'),
 Timestamp('2015-01-22 01:00:00'),
 Timestamp('2015-01-22 02:00:00'),
 Timestamp('2015-01-22 03:00:00'),
 Timestamp('2015-01-22 04:00:00'),
 Timestamp('2015-01-22 05:00:00'),
 Timestamp('2015-01-22 06:00:00'),
 Timestamp('2015-01-22 07:00:00'),
 Timestamp('2015-01-22 08:00:00'),
 Timestamp('2015-01-22 09:00:00'),
 Timestamp('2015-01-22 10:00:00'),
 Timestamp('2015-01-22 11:00:00'),
 Timestamp('2015-01-22 12:00:00'),
 Timestamp('2015-01-22 13:00:00'),
 Timestamp('2015-01-22 14:00:00'),
 Timestamp('2015-01-22 15:00:00'),
 Timestamp('2015-01-22 16:00:00'),
 Timestamp('2015-01-22 17:00:00'),
 Timestamp('2015-01-22 18:00:00'),
 Timestamp('2015-01-22 19:00:00'),
 Timestamp('2015-01-22 20:00:00'),
 Timestamp('2015-01-22 21:00:00'),
 Timestamp('2015-01-22 22:00:00'),
 Timestamp('2015-01-22 23:00:00'),
 Timestamp('2015-01-23 00:00:00'),
 Timestamp('2015-01-23 01:00:00'),
 Timestamp('2015-01-23 02:00:00'),
 Timestamp('2015-01-23 03:00:00'),
 Timestamp('2015-01-23 04:00:00'),
 Timestamp('2015-01-23 05:00:00'),
 Timestamp('2015-01-23 06:00:00'),
 Timestamp('2015-01-23 07:00:00'),
 Timestamp('2015-01-23 08:00:00'),
 Timestamp('2015-01-23 09:00:00'),
 Timestamp('2015-01-23 10:00:00'),
 Timestamp('2015-01-23 11:00:00'),
 Timestamp('2015-01-23 12:00:00'),
 Timestamp('2015-01-23 13:00:00'),
 Timestamp('2015-01-23 14:00:00'),
 Timestamp('2015-01-23 15:00:00'),
 Timestamp('2015-01-23 16:00:00'),
 Timestamp('2015-01-23 17:00:00'),
 Timestamp('2015-01-23 18:00:00'),

In [82]:
add_weather['a'] = datetime

In [84]:
add_weather[:5]

,Site,Date,Hour,Temperature,Dewpoint,RH,WindDir,Windspeed,CldFrac,MSLP,Weather,Precip,Source,a
148991,KJFK,2014-12-31,0,29,11,47,060,3,0.7,30.38,BKN,0.0,NWS,2014-12-31 00:00:00
148992,KJFK,2014-12-31,1,28,11,49,130,3,0.7,30.36,BKN,0.0,NWS,2014-12-31 01:00:00
148993,KJFK,2014-12-31,2,29,10,44,000,0,0.7,30.37,BKN,0.0,NWS,2014-12-31 02:00:00
148994,KJFK,2014-12-31,3,29,13,51,50,3,0.7,30.36,BKN,0.0,NWS,2014-12-31 03:00:00
148995,KJFK,2014-12-31,4,28,13,52,000,0,0.7,30.35,BKN,0.0,NWS,2014-12-31 04:00:00

In [85]:
add_weather.rename(columns = {'a' : 'datetime'}, inplace = True)
add_weather[:5]

add_weather.columns

add_weather[['datetime', 'Dewpoint', 'RH', 'CldFrac', 'MSLP', 'Precip']]

weather['datetime'] =  pd.to_datetime(weather['datetime'], infer_datetime_format =True)
df_fin['datetime'] = df_fin['SCHEDULED_DEPARTURE'].dt.round("H")

dataset_fin = pd.merge(df_fin, weather, on='datetime')
dataset_fin = pd.merge(dataset_fin, add_weather, on = 'datetime')
dataset_fin

dataset_fin.info()
df_fin.info()

dataset_final = dataset_fin[['AIRLINE', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'DEPARTURE DELAYED?', 'datetime', 'humidity',
       'pressure', 'temperature', 'weather description', 'wind direction',
       'wind speed', 'Dewpoint', 'RH', 'CldFrac', 'MSLP', 'Weather', 'Precip']]
dataset_final #91663 rows × 28 columns

,Site,Date,Hour,Temperature,Dewpoint,RH,WindDir,Windspeed,CldFrac,MSLP,Weather,Precip,Source,datetime
148991,KJFK,2014-12-31,0,29,11,47,060,3,0.7,30.38,BKN,0.0,NWS,2014-12-31 00:00:00
148992,KJFK,2014-12-31,1,28,11,49,130,3,0.7,30.36,BKN,0.0,NWS,2014-12-31 01:00:00
148993,KJFK,2014-12-31,2,29,10,44,000,0,0.7,30.37,BKN,0.0,NWS,2014-12-31 02:00:00
148994,KJFK,2014-12-31,3,29,13,51,50,3,0.7,30.36,BKN,0.0,NWS,2014-12-31 03:00:00
148995,KJFK,2014-12-31,4,28,13,52,000,0,0.7,30.35,BKN,0.0,NWS,2014-12-31 04:00:00

Index(['Site', 'Date', 'Hour', 'Temperature', 'Dewpoint', 'RH', 'WindDir',
       'Windspeed', 'CldFrac', 'MSLP', 'Weather', 'Precip', 'Source',
       'datetime'],
      dtype='object')

                  datetime  Dewpoint  RH  CldFrac   MSLP  Precip
148991 2014-12-31 00:00:00        11  47      0.7  30.38     0.0
148992 2014-12-31 01:00:00        11  49      0.7  30.36     0.0
148993 2014-12-31 02:00:00        10  44      0.7  30.37     0.0
148994 2014-12-31 03:00:00        13  51      0.7  30.36     0.0
148995 2014-12-31 04:00:00        13  52      0.7  30.35     0.0
148996 2014-12-31 05:00:00        14  49      0.4  30.34     0.0
148997 2014-12-31 06:00:00        14  51      0.1  30.33     0.0
148998 2014-12-31 07:00:00        13  52      0.4  30.35     0.0
148999 2014-12-31 08:00:00        13  51      0.4  30.37     0.0
149000 2014-12-31 09:00:00        10  43      0.4  30.38     0.0
149001 2014-12-31 10:00:00         6  34      0.4  30.38     0.0
149002 2014-12-31 11:00:00         6  34      0.4  30.35     0.0
149003 2014-12-31 12:00:00         6  33      0.4  30.31     0.0
149004 2014-12-31 13:00:00         6  30      0.4  30.29     0.0
149005 2014-12-31 14:00:00         6  33      0.4  30.28     0.0
149006 2014-12-31 15:00:00         6  31      0.7  30.29     0.0
149007 2014-12-31 16:00:00         7  34      0.7  30.27     0.0
149008 2014-12-31 17:00:00         6  33      0.4  30.27     0.0
149009 2014-12-31 18:00:00         7  36      0.1  30.27     0.0
149010 2014-12-31 19:00:00         7  36      0.1  30.27     0.0
149011 2014-12-31 20:00:00         7  36      0.1  30.25     0.0
149012 2014-12-31 21:00:00         8  38      0.1  30.24     0.0
149013 2014-12-31 22:00:00        12  47      0.0  30.22     0.0
149014 2014-12-31 23:00:00        13  47      0.0  30.20     0.0
149015 2015-01-01 00:00:00        11  45      0.0  30.20     0.0
149016 2015-01-01 01:00:00        11  47      0.0  30.17     0.0
149017 2015-01-01 02:00:00        13  51      0.4  30.16     0.0
149018 2015-01-01 03:00:00        11  47      0.1  30.16     0.0
149019 2015-01-01 04:00:00         8  41      0.0  30.14     0.0
149020 2015-01-01 05:00:00         7  39      0.0  30.15     0.0
...                    ...       ...  ..      ...    ...     ...
157769 2015-12-31 18:00:00        31  51      1.0  30.09     0.0
157770 2015-12-31 19:00:00        32  56      0.7  30.09     0.0
157771 2015-12-31 20:00:00        30  52      0.7  30.10     0.0
157772 2015-12-31 21:00:00        29  52      1.0  30.10     0.0
157773 2015-12-31 22:00:00        28  51      1.0  30.10     0.0
157774 2015-12-31 23:00:00        27  51      0.7  30.09     0.0
157775 2016-01-01 00:00:00        28  53      0.7  30.09     0.0
157776 2016-01-01 01:00:00        27  53      0.7  30.06     0.0
157777 2016-01-01 02:00:00        27  53      0.7  30.06     0.0
157778 2016-01-01 03:00:00        27  55      0.7  30.06     0.0
157779 2016-01-01 04:00:00        27  53      1.0  30.05     0.0
157780 2016-01-01 05:00:00        28  58      1.0  30.04     0.0
157781 2016-01-01 06:00:00        27  58      1.0  30.05     0.0
157782 2016-01-01 07:00:00        27  58      0.7  30.05     0.0
157783 2016-01-01 08:00:00        27  58      0.7  30.06     0.0
157784 2016-01-01 09:00:00        26  57      0.7  30.07     0.0
157785 2016-01-01 10:00:00        26  55      0.7  30.07     0.0
157786 2016-01-01 11:00:00        25  53      0.7  30.05     0.0
157787 2016-01-01 12:00:00        25  51      0.7  30.03     0.0
157788 2016-01-01 13:00:00        25  51      0.7  30.00     0.0
157789 2016-01-01 14:00:00        25  51      0.7  29.98     0.0
157790 2016-01-01 15:00:00        26  55      0.7  29.98     0.0
157791 2016-01-01 16:00:00        21  47      0.7  30.00     0.0
157792 2016-01-01 17:00:00        21  47      0.7  29.98     0.0
157793 2016-01-01 18:00:00        21  47      0.4  30.01     0.0
157794 2016-01-01 19:00:00        19  45      0.4  30.02     0.0
157795 2016-01-01 20:00:00        18  43      0.1  30.04     0.0
157796 2016-01-01 21:00:00        19  46      0.0  30.04     0.0
157797 2016-01-01 22:00:00        20  48      0.0  30.04     0.0
157798 2016-01-01 23:00:00        19  48      0.1  30.04     0.0

[8808 rows x 6 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,SCHEDULED_TIME,...,Temperature,Dewpoint,RH,WindDir,Windspeed,CldFrac,MSLP,Weather,Precip,Source
0,B6,JFK,SJU,2015-01-01 05:35:00,06:18:00,43.0,10:20:00,10:39:00,19.0,225.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
1,AA,JFK,MIA,2015-01-01 05:45:00,06:40:00,55.0,08:50:00,09:59:00,69.0,185.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
2,B6,JFK,BQN,2015-01-01 05:45:00,05:45:00,0.0,10:26:00,10:07:00,-19.0,221.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
3,B6,JFK,PBI,2015-01-01 06:00:00,05:54:00,-6.0,08:58:00,08:36:00,-22.0,178.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
4,B6,JFK,MCO,2015-01-01 06:00:00,05:57:00,-3.0,08:51:00,08:32:00,-19.0,171.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
5,B6,JFK,TPA,2015-01-01 06:00:00,05:54:00,-6.0,09:01:00,09:00:00,-1.0,181.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
6,DL,JFK,ATL,2015-01-01 06:00:00,06:05:00,5.0,08:43:00,08:24:00,-19.0,163.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
7,UA,JFK,SFO,2015-01-01 06:05:00,06:05:00,0.0,09:49:00,09:45:00,-4.0,404.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
8,B6,JFK,FLL,2015-01-01 06:05:00,06:03:00,-2.0,09:13:00,09:11:00,-2.0,188.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
9,B6,JFK,SJU,2015-01-01 06:14:00,06:12:00,-2.0,10:57:00,10:34:00,-23.0,223.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
10,US,JFK,PHX,2015-01-01 06:30:00,06:28:00,-2.0,10:18:00,10:23:00,5.0,348.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
11,B6,JFK,LAX,2015-01-01 06:30:00,06:27:00,-3.0,09:47:00,09:51:00,4.0,377.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
12,B6,JFK,RSW,2015-01-01 06:30:00,06:28:00,-2.0,09:45:00,09:28:00,-17.0,195.0,...,28,8,43,260,16,0.0,30.18,CLR,0.0,NCDC
13,B6,JFK,MSY,2015-01-01 06:33:00,06:25:00,-8.0,09:04:00,09:06:00,2.0,211.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
14,AA,JFK,LAS,2015-01-01 06:35:00,06:56:00,21.0,09:25:00,10:10:00,45.0,350.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
15,B6,JFK,BOS,2015-01-01 06:45:00,06:38:00,-7.0,07:56:00,07:44:00,-12.0,71.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
16,AA,JFK,MIA,2015-01-01 06:52:00,06:49:00,-3.0,10:10:00,10:03:00,-7.0,198.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
17,B6,JFK,BUF,2015-01-01 06:55:00,06:45:00,-10.0,08:29:00,08:07:00,-22.0,94.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
18,B6,JFK,SFO,2015-01-01 06:59:00,06:59:00,0.0,10:43:00,10:19:00,-24.0,404.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
19,B6,JFK,PBI,2015-01-01 06:59:00,06:55:00,-4.0,10:02:00,09:39:00,-23.0,183.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
20,VX,JFK,LAX,2015-01-01 07:00:00,06:55:00,-5.0,10:25:00,10:27:00,2.0,385.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
21,AA,JFK,LAX,2015-01-01 07:00:00,06:49:00,-11.0,10:20:00,10:26:00,6.0,380.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
22,DL,JFK,LAX,2015-01-01 07:00:00,07:02:00,2.0,10:40:00,10:30:00,-10.0,400.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
23,DL,JFK,SJU,2015-01-01 07:00:00,06:59:00,-1.0,11:50:00,11:39:00,-11.0,230.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
24,DL,JFK,SFO,2015-01-01 07:00:00,07:00:00,0.0,10:43:00,10:26:00,-17.0,403.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
25,AA,JFK,MCO,2015-01-01 07:00:00,08:57:00,117.0,10:05:00,12:02:00,117.0,185.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
26,B6,JFK,SJU,2015-01-01 07:14:00,07:11:00,-3.0,12:07:00,11:33:00,-34.0,233.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
27,B6,JFK,FLL,2015-01-01 07:18:00,07:17:00,-1.0,10:37:00,10:10:00,-27.0,199.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
28,B6,JFK,MCO,2015-01-01 07:29:00,07:25:00,-4.0,10:26:00,10:28:00,2.0,177.0,...,29,6,37,280,14,0.1,30.18,FEW,0.0,NCDC
29,AA,JFK,BOS,2015-01-01 07:30:00,07:34:00,4.0,08:40:00,08:39:00,-1.0,70.0,...,29,9,43,260,14,0.1,30.19,FEW,0.0,NCDC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91633,B6,JFK,LAS,2015-12-31 19:50:00,20:06:00,16.0,22:45:00,22:40:00,-5.0,355.0,...,47,30,52,310,10,0.7,30.10,BKN,0.0,NWS
91634,B6,JFK,MCO,2015-12-31 19:55:00,20:18:00,23.0,22:48:00,23:05:00,17.0,173.0,...,47,30,52,310,10,0.7,30.10,BKN,0.0,NWS
91635,B6,JFK,SFO,2015-12-31 19:59:00,20:10:00,11.0,23:39:00,23:26:00,-13.0,400.0,...,47,30,52,310,10,0.7,30.10,BKN,0.0,NWS
91636,B6,JFK,FLL,2015-12-31 20:00:00,21:47:00,107.0,23:08:00,00:39:00,91.0,188.0,...,47,30,52,310,10,0.7,30.10,BKN,0.0,NWS
91637,B6,JFK,ABQ,2015-12-31 20:00:00,20:00:00,0.0,23:08:00,23:19:00,11.0,308.0,...,47,30,52,310,10,0.7,30.10,BKN,0.0,NWS
91638,B6,JFK,JAX,2015-12-31 20:30:00,20:34:00,4.0,23:10:00,23:08:00,-2.0,160.0,...,47,30,52,310,10,0.7,30.10,BKN,0.0,NWS
91639,B6,JFK,DEN,2015-12-31 20:31:00,20:42:00,11.0,23:08:00,23:08:00,0.0,277.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91640,AA,JFK,BOS,2015-12-31 20:35:00,20:28:00,-7.0,21:45:00,21:26:00,-19.0,70.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91641,B6,JFK,PDX,2015-12-31 20:41:00,21:04:00,23.0,23:59:00,23:46:00,-13.0,378.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91642,B6,JFK,PBI,2015-12-31 20:46:00,20:53:00,7.0,23:47:00,23:42:00,-5.0,181.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91643,B6,JFK,SMF,2015-12-31 20:55:00,21:12:00,17.0,00:23:00,00:16:00,-7.0,388.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91644,B6,JFK,BOS,2015-12-31 21:00:00,20:58:00,-2.0,22:09:00,21:54:00,-15.0,69.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91645,B6,JFK,AUS,2015-12-31 21:15:00,21:18:00,3.0,00:37:00,00:48:00,11.0,262.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91646,B6,JFK,LAX,2015-12-31 21:15:00,21:33:00,18.0,00:34:00,00:53:00,19.0,379.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91647,B6,JFK,SJU,2015-12-31 21:16:00,22:11:00,55.0,02:05:00,02:58:00,53.0,229.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91648,B6,JFK,FLL,2015-12-31 21:16:00,21:55:00,39.0,00:20:00,00:54:00,34.0,184.0,...,46,29,52,310,16,1.0,30.10,OVC,0.0,NWS
91649,B6,JFK,SFO,2015-12-31 21:30:00,21:40:00,10.0,01:02:00,01:02:00,0.0,392.0,...,45,28,51,320,17,1.0,30.10,OVC,0.0,NWS
91650,B6,JFK,TPA,2015-12-31 21:46:00,21:39:00,-7.0,00:47:00,00:34:00,-13.0,181.0,...,45,28,51,320,17,1.0,30.10,OVC,0.0,NWS
91651,B6,JFK,PBI,2015-12-31 22:00:00,21:55:00,-5.0,00:52:00,00:45:00,-7.0,172.0,...,45,28,51,320,17,1.0,30.10,OVC,0.0,NWS
91652,B6,JFK,FLL,2015-12-31 22:15:00,22:35:00,20.0,01:16:00,01:26:00,10.0,181.0,...,45,28,51,320,17,1.0,30.10,OVC,0.0,NWS
91653,B6,JFK,LAX,2015-12-31 22:35:00,22:34:00,-1.0,01:48:00,01:43:00,-5.0,373.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91654,B6,JFK,BTV,2015-12-31 22:45:00,22:41:00,-4.0,23:55:00,23:42:00,-13.0,70.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91655,B6,JFK,ROC,2015-12-31 22:45:00,22:44:00,-1.0,00:02:00,23:57:00,-5.0,77.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91656,B6,JFK,PWM,2015-12-31 22:45:00,22:50:00,5.0,23:53:00,23:51:00,-2.0,68.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91657,B6,JFK,SYR,2015-12-31 22:50:00,22:44:00,-6.0,23:58:00,23:51:00,-7.0,68.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91658,B6,JFK,BUF,2015-12-31 22:50:00,23:07:00,17.0,00:13:00,00:26:00,13.0,83.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91659,B6,JFK,BOS,2015-12-31 23:12:00,23:07:00,-5.0,00:16:00,00:01:00,-15.0,64.0,...,44,27,51,310,15,0.7,30.09,BKN,0.0,NWS
91660,B6,JFK,PSE,2015-12-31 23:59:00,23:55:00,-4.0,04:46:00,04:30:00,-16.0,227.0,...,44,28,53,310,13,0.7,30.09,BKN,0.0,NWS
91661,B6,JFK,SJU,2015-12-31 23:59:00,23:50:00,-9.0,04:40:00,04:32:00,-8.0,221.0,...,44,28,53,310,13,0.7,30.09,BKN,0.0,NWS
91662,B6,JFK,BQN,2015-12-31 23:59:00,00:14:00,15.0,04:40:00,04:42:00,2.0,221.0,...,44,28,53,310,13,0.7,30.09,BKN,0.0,NWS

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91663 entries, 0 to 91662
Data columns (total 43 columns):
AIRLINE                91663 non-null object
ORIGIN_AIRPORT         91663 non-null object
DESTINATION_AIRPORT    91663 non-null object
SCHEDULED_DEPARTURE    91663 non-null datetime64[ns]
DEPARTURE_TIME         91663 non-null object
DEPARTURE_DELAY        91663 non-null float64
SCHEDULED_ARRIVAL      91663 non-null object
ARRIVAL_TIME           91663 non-null object
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         91663 non-null float64
ELAPSED_TIME           91663 non-null float64
DEPARTURE DELAYED?     91663 non-null object
datetime               91663 non-null datetime64[ns]
humidity               91663 non-null float64
pressure               91663 non-null float64
temperature            91663 non-null float64
weather description    91663 non-null object
wind direction         91663 non-null float64
wind speed             91663 non-null float64
humidity_norm          91663 non-null float64
pressure_norm          91663 non-null float64
temperature_norm       91663 non-null float64
wind direction_norm    91663 non-null float64
wind speed_norm        91663 non-null float64
count                  91663 non-null int64
humidity_std           91663 non-null float64
pressure_std           91663 non-null float64
temperature_std        91663 non-null float64
wind direction_std     91663 non-null float64
wind speed_std         91663 non-null float64
Site                   91663 non-null object
Date                   91663 non-null datetime64[ns]
Hour                   91663 non-null int64
Temperature            91663 non-null int64
Dewpoint               91663 non-null int64
RH                     91663 non-null int64
WindDir                91663 non-null object
Windspeed              91663 non-null int64
CldFrac                91663 non-null float64
MSLP                   91663 non-null float64
Weather                91663 non-null object
Precip                 91602 non-null float64
Source                 91663 non-null object
dtypes: datetime64[ns](3), float64(22), int64(6), object(12)
memory usage: 30.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 91663 entries, 0 to 93810
Data columns (total 13 columns):
AIRLINE                91663 non-null object
ORIGIN_AIRPORT         91663 non-null object
DESTINATION_AIRPORT    91663 non-null object
SCHEDULED_DEPARTURE    91663 non-null datetime64[ns]
DEPARTURE_TIME         91663 non-null object
DEPARTURE_DELAY        91663 non-null float64
SCHEDULED_ARRIVAL      91663 non-null object
ARRIVAL_TIME           91663 non-null object
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         91663 non-null float64
ELAPSED_TIME           91663 non-null float64
DEPARTURE DELAYED?     91663 non-null object
datetime               91663 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 9.8+ MB

,AIRLINE,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,SCHEDULED_TIME,ELAPSED_TIME,...,temperature,weather description,wind direction,wind speed,Dewpoint,RH,CldFrac,MSLP,Weather,Precip
0,B6,SJU,2015-01-01 05:35:00,06:18:00,43.0,10:20:00,10:39:00,19.0,225.0,201.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
1,AA,MIA,2015-01-01 05:45:00,06:40:00,55.0,08:50:00,09:59:00,69.0,185.0,199.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
2,B6,BQN,2015-01-01 05:45:00,05:45:00,0.0,10:26:00,10:07:00,-19.0,221.0,202.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
3,B6,PBI,2015-01-01 06:00:00,05:54:00,-6.0,08:58:00,08:36:00,-22.0,178.0,162.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
4,B6,MCO,2015-01-01 06:00:00,05:57:00,-3.0,08:51:00,08:32:00,-19.0,171.0,155.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
5,B6,TPA,2015-01-01 06:00:00,05:54:00,-6.0,09:01:00,09:00:00,-1.0,181.0,186.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
6,DL,ATL,2015-01-01 06:00:00,06:05:00,5.0,08:43:00,08:24:00,-19.0,163.0,139.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
7,UA,SFO,2015-01-01 06:05:00,06:05:00,0.0,09:49:00,09:45:00,-4.0,404.0,400.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
8,B6,FLL,2015-01-01 06:05:00,06:03:00,-2.0,09:13:00,09:11:00,-2.0,188.0,188.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
9,B6,SJU,2015-01-01 06:14:00,06:12:00,-2.0,10:57:00,10:34:00,-23.0,223.0,202.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
10,US,PHX,2015-01-01 06:30:00,06:28:00,-2.0,10:18:00,10:23:00,5.0,348.0,355.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
11,B6,LAX,2015-01-01 06:30:00,06:27:00,-3.0,09:47:00,09:51:00,4.0,377.0,384.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
12,B6,RSW,2015-01-01 06:30:00,06:28:00,-2.0,09:45:00,09:28:00,-17.0,195.0,180.0,...,266.667000,sky is clear,251.0,3.0,8,43,0.0,30.18,CLR,0.0
13,B6,MSY,2015-01-01 06:33:00,06:25:00,-8.0,09:04:00,09:06:00,2.0,211.0,221.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
14,AA,LAS,2015-01-01 06:35:00,06:56:00,21.0,09:25:00,10:10:00,45.0,350.0,374.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
15,B6,BOS,2015-01-01 06:45:00,06:38:00,-7.0,07:56:00,07:44:00,-12.0,71.0,66.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
16,AA,MIA,2015-01-01 06:52:00,06:49:00,-3.0,10:10:00,10:03:00,-7.0,198.0,194.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
17,B6,BUF,2015-01-01 06:55:00,06:45:00,-10.0,08:29:00,08:07:00,-22.0,94.0,82.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
18,B6,SFO,2015-01-01 06:59:00,06:59:00,0.0,10:43:00,10:19:00,-24.0,404.0,380.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
19,B6,PBI,2015-01-01 06:59:00,06:55:00,-4.0,10:02:00,09:39:00,-23.0,183.0,164.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
20,VX,LAX,2015-01-01 07:00:00,06:55:00,-5.0,10:25:00,10:27:00,2.0,385.0,392.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
21,AA,LAX,2015-01-01 07:00:00,06:49:00,-11.0,10:20:00,10:26:00,6.0,380.0,397.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
22,DL,LAX,2015-01-01 07:00:00,07:02:00,2.0,10:40:00,10:30:00,-10.0,400.0,388.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
23,DL,SJU,2015-01-01 07:00:00,06:59:00,-1.0,11:50:00,11:39:00,-11.0,230.0,220.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
24,DL,SFO,2015-01-01 07:00:00,07:00:00,0.0,10:43:00,10:26:00,-17.0,403.0,386.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
25,AA,MCO,2015-01-01 07:00:00,08:57:00,117.0,10:05:00,12:02:00,117.0,185.0,185.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
26,B6,SJU,2015-01-01 07:14:00,07:11:00,-3.0,12:07:00,11:33:00,-34.0,233.0,202.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
27,B6,FLL,2015-01-01 07:18:00,07:17:00,-1.0,10:37:00,10:10:00,-27.0,199.0,173.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
28,B6,MCO,2015-01-01 07:29:00,07:25:00,-4.0,10:26:00,10:28:00,2.0,177.0,183.0,...,266.667000,sky is clear,251.0,3.0,6,37,0.1,30.18,FEW,0.0
29,AA,BOS,2015-01-01 07:30:00,07:34:00,4.0,08:40:00,08:39:00,-1.0,70.0,65.0,...,266.576000,sky is clear,258.0,3.0,9,43,0.1,30.19,FEW,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91633,B6,LAS,2015-12-31 19:50:00,20:06:00,16.0,22:45:00,22:40:00,-5.0,355.0,334.0,...,281.220000,overcast clouds,310.0,5.0,30,52,0.7,30.10,BKN,0.0
91634,B6,MCO,2015-12-31 19:55:00,20:18:00,23.0,22:48:00,23:05:00,17.0,173.0,167.0,...,281.220000,overcast clouds,310.0,5.0,30,52,0.7,30.10,BKN,0.0
91635,B6,SFO,2015-12-31 19:59:00,20:10:00,11.0,23:39:00,23:26:00,-13.0,400.0,376.0,...,281.220000,overcast clouds,310.0,5.0,30,52,0.7,30.10,BKN,0.0
91636,B6,FLL,2015-12-31 20:00:00,21:47:00,107.0,23:08:00,00:39:00,91.0,188.0,172.0,...,281.220000,overcast clouds,310.0,5.0,30,52,0.7,30.10,BKN,0.0
91637,B6,ABQ,2015-12-31 20:00:00,20:00:00,0.0,23:08:00,23:19:00,11.0,308.0,319.0,...,281.220000,overcast clouds,310.0,5.0,30,52,0.7,30.10,BKN,0.0
91638,B6,JAX,2015-12-31 20:30:00,20:34:00,4.0,23:10:00,23:08:00,-2.0,160.0,154.0,...,281.220000,overcast clouds,310.0,5.0,30,52,0.7,30.10,BKN,0.0
91639,B6,DEN,2015-12-31 20:31:00,20:42:00,11.0,23:08:00,23:08:00,0.0,277.0,266.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91640,AA,BOS,2015-12-31 20:35:00,20:28:00,-7.0,21:45:00,21:26:00,-19.0,70.0,58.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91641,B6,PDX,2015-12-31 20:41:00,21:04:00,23.0,23:59:00,23:46:00,-13.0,378.0,342.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91642,B6,PBI,2015-12-31 20:46:00,20:53:00,7.0,23:47:00,23:42:00,-5.0,181.0,169.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91643,B6,SMF,2015-12-31 20:55:00,21:12:00,17.0,00:23:00,00:16:00,-7.0,388.0,364.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91644,B6,BOS,2015-12-31 21:00:00,20:58:00,-2.0,22:09:00,21:54:00,-15.0,69.0,56.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91645,B6,AUS,2015-12-31 21:15:00,21:18:00,3.0,00:37:00,00:48:00,11.0,262.0,270.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91646,B6,LAX,2015-12-31 21:15:00,21:33:00,18.0,00:34:00,00:53:00,19.0,379.0,380.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91647,B6,SJU,2015-12-31 21:16:00,22:11:00,55.0,02:05:00,02:58:00,53.0,229.0,227.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91648,B6,FLL,2015-12-31 21:16:00,21:55:00,39.0,00:20:00,00:54:00,34.0,184.0,179.0,...,281.026831,overcast clouds,307.0,5.0,29,52,1.0,30.10,OVC,0.0
91649,B6,SFO,2015-12-31 21:30:00,21:40:00,10.0,01:02:00,01:02:00,0.0,392.0,382.0,...,280.360000,overcast clouds,300.0,5.0,28,51,1.0,30.10,OVC,0.0
91650,B6,TPA,2015-12-31 21:46:00,21:39:00,-7.0,00:47:00,00:34:00,-13.0,181.0,175.0,...,280.360000,overcast clouds,300.0,5.0,28,51,1.0,30.10,OVC,0.0
91651,B6,PBI,2015-12-31 22:00:00,21:55:00,-5.0,00:52:00,00:45:00,-7.0,172.0,170.0,...,280.360000,overcast clouds,300.0,5.0,28,51,1.0,30.10,OVC,0.0
91652,B6,FLL,2015-12-31 22:15:00,22:35:00,20.0,01:16:00,01:26:00,10.0,181.0,171.0,...,280.360000,overcast clouds,300.0,5.0,28,51,1.0,30.10,OVC,0.0
91653,B6,LAX,2015-12-31 22:35:00,22:34:00,-1.0,01:48:00,01:43:00,-5.0,373.0,369.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91654,B6,BTV,2015-12-31 22:45:00,22:41:00,-4.0,23:55:00,23:42:00,-13.0,70.0,61.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91655,B6,ROC,2015-12-31 22:45:00,22:44:00,-1.0,00:02:00,23:57:00,-5.0,77.0,73.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91656,B6,PWM,2015-12-31 22:45:00,22:50:00,5.0,23:53:00,23:51:00,-2.0,68.0,61.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91657,B6,SYR,2015-12-31 22:50:00,22:44:00,-6.0,23:58:00,23:51:00,-7.0,68.0,67.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91658,B6,BUF,2015-12-31 22:50:00,23:07:00,17.0,00:13:00,00:26:00,13.0,83.0,79.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91659,B6,BOS,2015-12-31 23:12:00,23:07:00,-5.0,00:16:00,00:01:00,-15.0,64.0,54.0,...,279.393851,moderate rain,299.0,4.0,27,51,0.7,30.09,BKN,0.0
91660,B6,PSE,2015-12-31 23:59:00,23:55:00,-4.0,04:46:00,04:30:00,-16.0,227.0,215.0,...,279.540000,broken clouds,270.0,3.0,28,53,0.7,30.09,BKN,0.0
91661,B6,SJU,2015-12-31 23:59:00,23:50:00,-9.0,04:40:00,04:32:00,-8.0,221.0,222.0,...,279.540000,broken clouds,270.0,3.0,28,53,0.7,30.09,BKN,0.0
91662,B6,BQN,2015-12-31 23:59:00,00:14:00,15.0,04:40:00,04:42:00,2.0,221.0,208.0,...,279.540000,broken clouds,270.0,3.0,28,53,0.7,30.09,BKN,0.0

In [86]:
def delayiing(y):
    if y == 'y':
        return 1
    else:
        return 2

dataset_final.info()

FINAL_SET = dataset_final
FINAL_SET.columns
#Index(['AIRLINE', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
#        'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL',
#        'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME',
#        'DEPARTURE DELAYED?', 'datetime', 'humidity', 'pressure', 'temperature',
#        'weather description', 'wind direction', 'wind speed', 'Site', 'Date',
#        'Hour', 'Temperature', 'Dewpoint', 'RH', 'CldFrac', 'MSLP', 'Weather',
#        'Precip'],

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91663 entries, 0 to 91662
Data columns (total 24 columns):
AIRLINE                91663 non-null object
DESTINATION_AIRPORT    91663 non-null object
SCHEDULED_DEPARTURE    91663 non-null datetime64[ns]
DEPARTURE_TIME         91663 non-null object
DEPARTURE_DELAY        91663 non-null float64
SCHEDULED_ARRIVAL      91663 non-null object
ARRIVAL_TIME           91663 non-null object
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         91663 non-null float64
ELAPSED_TIME           91663 non-null float64
DEPARTURE DELAYED?     91663 non-null object
datetime               91663 non-null datetime64[ns]
humidity               91663 non-null float64
pressure               91663 non-null float64
temperature            91663 non-null float64
weather description    91663 non-null object
wind direction         91663 non-null float64
wind speed             91663 non-null float64
Dewpoint               91663 non-null int64
RH                     91663 non-null int64
CldFrac                91663 non-null float64
MSLP                   91663 non-null float64
Weather                91663 non-null object
Precip                 91602 non-null float64
dtypes: datetime64[ns](2), float64(12), int64(2), object(8)
memory usage: 17.5+ MB

Index(['AIRLINE', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'DEPARTURE DELAYED?', 'datetime', 'humidity', 'pressure', 'temperature',
       'weather description', 'wind direction', 'wind speed', 'Dewpoint', 'RH',
       'CldFrac', 'MSLP', 'Weather', 'Precip'],
      dtype='object')

In [87]:

FINAL_SET['DEPARTURE DELAYED?'][:5]

FINAL_SET.shape #(91663, 24)
FINAL_SET.info()


FINAL_SET.isnull().sum()

0    n
1    n
2    n
3    n
4    n
Name: DEPARTURE DELAYED?, dtype: object

(91663, 24)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91663 entries, 0 to 91662
Data columns (total 24 columns):
AIRLINE                91663 non-null object
DESTINATION_AIRPORT    91663 non-null object
SCHEDULED_DEPARTURE    91663 non-null datetime64[ns]
DEPARTURE_TIME         91663 non-null object
DEPARTURE_DELAY        91663 non-null float64
SCHEDULED_ARRIVAL      91663 non-null object
ARRIVAL_TIME           91663 non-null object
ARRIVAL_DELAY          91663 non-null float64
SCHEDULED_TIME         91663 non-null float64
ELAPSED_TIME           91663 non-null float64
DEPARTURE DELAYED?     91663 non-null object
datetime               91663 non-null datetime64[ns]
humidity               91663 non-null float64
pressure               91663 non-null float64
temperature            91663 non-null float64
weather description    91663 non-null object
wind direction         91663 non-null float64
wind speed             91663 non-null float64
Dewpoint               91663 non-null int64
RH                     91663 non-null int64
CldFrac                91663 non-null float64
MSLP                   91663 non-null float64
Weather                91663 non-null object
Precip                 91602 non-null float64
dtypes: datetime64[ns](2), float64(12), int64(2), object(8)
memory usage: 17.5+ MB

AIRLINE                 0
DESTINATION_AIRPORT     0
SCHEDULED_DEPARTURE     0
DEPARTURE_TIME          0
DEPARTURE_DELAY         0
SCHEDULED_ARRIVAL       0
ARRIVAL_TIME            0
ARRIVAL_DELAY           0
SCHEDULED_TIME          0
ELAPSED_TIME            0
DEPARTURE DELAYED?      0
datetime                0
humidity                0
pressure                0
temperature             0
weather description     0
wind direction          0
wind speed              0
Dewpoint                0
RH                      0
CldFrac                 0
MSLP                    0
Weather                 0
Precip                 61
dtype: int64

## Renaming Columns

In [102]:
FINAL_SET.columns

FINAL_SET.rename(columns = {'datetime' : 'DATETIME',
                            'DEPARTURE DELAYED?' :'DEPARTURE_DELAYED_YN',
                            'humidity' : 'HUMIDITY',
                            'pressure' : 'PRESSURE',
                            'temperature' : 'TEMPERATURE',
                            'weather description' :'WEATHER_DESCRIPTION',
                            'wind direction' : 'WIND_DIRECTION',
                            'WIND SPEED' : 'WIND_SPEED',
                            'Dewpoint' : 'DEW_POINT',
                            'RH' : 'RELATIVE_HUMIDITY',
                            'CldFrac' : 'CLOUD_FRACTION',
                            'MSLP' : 'MEAN_SEA_LEVEL_PRESSURE',
                            'Weather':'WEATHER',
                            'Precip' : 'PRECIPITATION'
                           }, inplace = True)

FINAL_SET.to_csv('FINAL_SET.csv', sep='\t')

FINAL_SET.columns

Index(['AIRLINE', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'DEPARTURE_DELAYED_YN', 'DATETIME', 'HUMIDITY', 'PRESSURE',
       'TEMPERATURE', 'WEATHER_DESCRIPTION', 'WIND_DIRECTION', 'WIND_SPEED',
       'DEW_POINT', 'RELATIVE_HUMIDITY', 'CLOUD_FRACTION',
       'MEAN_SEA_LEVEL_PRESSURE', 'Weather', 'PRECIPITATION'],
      dtype='object')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

Index(['AIRLINE', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'DEPARTURE_DELAYED_YN', 'DATETIME', 'HUMIDITY', 'PRESSURE',
       'TEMPERATURE', 'WEATHER_DESCRIPTION', 'WIND_DIRECTION', 'WIND_SPEED',
       'DEW_POINT', 'RELATIVE_HUMIDITY', 'CLOUD_FRACTION',
       'MEAN_SEA_LEVEL_PRESSURE', 'WEATHER', 'PRECIPITATION'],
      dtype='object')

In [89]:
FINAL_SET.shape

(91663, 24)